@page
@{
    ViewData["PageId"] = "200112";
    ViewData["Title"] = "Customer Markup";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="col-xl-12">
        <div class="panel">
            <div class="card">
                <div class="card-body p-2">
                    <form id="frmOrganisation" method="post" action="">                        
                        <div class="form-container master-panel">
                            <div class="col-md-12">
                                <h4> @ViewBag.Title </h4>
                                <hr />
                            </div>
                            <input type="hidden" id="lblcustomermarkupId" name="lblcustomermarkupId" value="0" />
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3" for="txtcustomerNid">Customer Nid</label>
                                        <div class="col-md-9">
                                            <input type="text" id="txtcustomerNid" name="txtcustomerNid"
                                                   maxlength="16" autocomplete="off"
                                                   class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3" for="txtNid">Nid</label>
                                        <div class="col-md-9">
                                            <input type="text" id="txtNid" name="txtNid"
                                                   maxlength="256" autocomplete="off"
                                                   class="form-control" required>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="form-group" for="txteffectiveFromDt">
                                        <label class="col-form-label col-md-3">Effective From Date</label>
                                        <div class="col-md-9">
                                            <input type="text" id="txteffectiveFromDt" name="txteffectiveFromDt" maxlength="256" autocomplete="off" required
                                                   class="form-control ip-ap">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" for="txteffectiveToDt">
                                        <label class="col-form-label col-md-3">Effective To Date</label>
                                        <div class="col-md-9">
                                            <input type="text" id="txteffectiveToDt" name="txteffectiveToDt" maxlength="256" autocomplete="off" required
                                                   class="form-control ip-ap">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3">Status</label>
                                        <div class="col-md-8">
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_active" type="radio" value="true" name="chkstatus">
                                                    <label class="custom-control-label" for="is_active">  Active</label>
                                                </div>
                                            </div>
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_in_active" type="radio" value="false" name="chkstatus">
                                                    <label class="custom-control-label" for="is_in_active">  Inactive</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <input type="submit" class="btn btn-primary btn-lg" value="Save">
                                    <input type="reset" id="clearform" class="btn btn-primary btn-lg" value="Reset">
                                    <a href="CustomerMarkupReport" class="btn btn-primary btn-lg">Report</a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr />
                            </div>
                            <div class="clearfix"></div>

                        </div>
</form>
                    
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    
    <script type="text/javascript">

        

        $(document).ready(function () {

            $('#loader').show();
            let OrgId = localStorage.getItem("currentOrganisation");
            let token = localStorage.getItem('token');
            let headerss = new Headers();
            headerss.append("Authorization", 'Bearer ' + token);
            headerss.append("Content-Type", "application/json; charset=utf-8");
            headerss.append("OrgId", OrgId);
            let customermarkupid_ = getUrlVars()["id"];
            
            if (customermarkupid_ == null || customermarkupid_ == '' || customermarkupid_ == undefined) {
                $("#lblcustomermarkupId").val("0");
                $('#loader').hide();
            } else {
                let apiurl = localStorage.getItem('baseUrl') + "Air/Master/getCustomerMarkupId/" + customermarkupid_ ;
                fetch(apiurl, {
                    method: "GET",
                    headers: headerss,
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error(response.statusText);
                    }
                }).then(data => {
                    if (data.messageType == 1) {
                        console.log(data.returnId);
                        $("#lblcustomermarkupId").val(data.returnId.id);
                        $("#txtcustomerNid").val(data.returnId.customerid);
                        $("#txtNid").val(data.returnId.nid);

                        $("#txteffectiveFromDt").val(data.returnId.effectiveFromDt);
                        $("#txteffectiveToDt").val(data.returnId.effectiveToDt);
                        
                        if (data.returnId.isDeleted) {

                            $("#is_active").prop("checked", true);
                            $("#is_in_active").prop("checked", false);
                        }
                        else {
                            $("#is_active").prop("checked", false);
                            $("#is_in_active").prop("checked", true);
                        }


                        $('#loader').hide();
                    }
                    else {
                        $('#loader').hide();
                        messageBox("error", data.message);
                    }
                }).catch((error) => {
                    $('#loader').hide();
                    messageBox("error", error.message);
                });

            }

       
            
            $("#frmOrganisation").validate({
                onkeyup: false,
                submitHandler: function (form, event) {
                    event.preventDefault();
                    $('#loader').show();                    
                    let Postapiurl = localStorage.getItem('baseUrl') + "air/Master/setCustomerMarkup"
                    let Postheaderss = new Headers();
                    Postheaderss.append("Authorization", 'Bearer ' + token);
                    Postheaderss.append("OrgId", OrgId);
                    Postheaderss.append("Content-Type", "application/json; charset=utf-8");

                    let IsActive
                    if ($("#is_active").is(":checked")) {
                        IsActive=true;
                    }
                    else {
                        IsActive =false;
                    }

                    var formdata = JSON.stringify({
                        "Id": $("#lblcustomermarkupId").val(),
                        "customerid": $("#txtcustomerNid").val(),
                        "nid": $("#txtNid").val(),
                        "EffectiveFromDt": $("#txteffectiveFromDt").val(),
                        "EffectiveToDt": $("#txteffectiveToDt").val(),
                        "IsDeleted": IsActive,
                        
                    });
                    fetch(Postapiurl, {
                        method: "POST",
                        headers: Postheaderss,
                        body: formdata,                        
                        redirect: 'follow'
                        
                    }).then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error(response.statusText);
                        }
                    }).then(data => {

                        if (data.messageType == 1) {                            
                            $('#loader').hide();
                            messageBox("success", "Save successfully");
                            
                        }
                        else {
                            $('#loader').hide();
                            messageBox("error", data.message);
                        }
                    }).catch((error) => {
                        $('#loader').hide();
                        messageBox("error", error.message);
                    });
                    
                }
            });
            $('#clearform').on('click', function () {
                var form = $("#frmOrganisation");
                form.validate().resetForm();  // clear out the validation errors
                form[0].reset();                  // clear out the form data
            });

        });

    </script>
}
        

