@page
@{
    ViewData["Title"] = "KRA Rating Master";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="col-xl-12 mt-4">
    <div class="card">
        <div class="card-body">
            <div class="panel ">
                <h4>KRA Rating Master</h4>
                <hr />
                <div class="form-container master-panel">
                    <div class="col-md-6">
                        <div class="col-md-4"><label class="col-form-label">Company<i>*</i></label></div>
                        <div class="col-md-8">
                            <select id="ddlcompany" class="form-control">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4"><label class="col-form-label">Name<i>*</i></label></div>
                        <div class="col-md-8">
                            <input id="txtname" type="text" class="form-control" maxlength="10" autocomplete="off" placeholder="KPI Rating Name" />
                        </div>
                    </div>
                    @*<div class="col-md-6">
                            <div class="col-md-3 text-rigth"><label>Display Order<i>*</i></label></div>
                            <div class="col-md-9">
                                <select id="ddldisplayorder">
                                    <option value="0">--Please Select--</option>
                                    <option value="1">Name</option>
                                    <option value="2">Number</option>
                                </select>
                            </div>
                        </div>*@
                    <div class="col-md-12">
                        <br />
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4"><label class="col-form-label">Description<i>*</i></label></div>
                        <div class="col-md-8">
                            <textarea id="txtdesc" class="form-control" placeholder="Description" maxlength="500" onkeypress="return AlphaNumeric(event);"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br />
                    </div>
                    <div class="col-md-12">
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                            <button type="button" class="btn btn-primary btn-lg" id="btnupdate">Update</button>
                            <button type="button" id="btnreset" class="btn btn-primary btn-lg">Reset</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="margin-top">KRA Rating Details</h4>
                        <hr/>
                    </div>
                   
                    <div class="col-md-12">
                        <div class="table-responsive no-margin">
                            <table id="tblkpirating" class="table w-100 nowrap"></table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <input type="hidden" id="hdnratingid" />
            <script src="~/apiJS/ePA/JsKPI_Rating.js?ver=@DateTime.Now.Ticks.ToString()"></script>
        </div>
    </div>
</div>