@page
@{
    ViewData["Title"] = "NoDuesParticularMaster";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-xl-12">
    <div class="panel">
        <div class="card">
            <div class="card-body p-2">
                <div class="form-container master-panel">
                    <div class="col-md-12">
                        <h2>No Dues Particular Master</h2>
                        <hr />
                    </div>


                    @*<div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Company<i>*</i></label>
                            <select id="ddlcompany" class="form-control">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>*@


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Department<i>*</i></label>
                            <select id="ddldepartment" title="Department" class="form-control">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Remarks<i>*</i></label>
                            <input id="txtRemarks" type="text" placeholder="Remarks" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10">
                                <h2>Add Particulars</h2>
                            </div>
                            <div class="col-md-1">
                                <button id="btnAddParticular" type="button" class="form-control" style="background-color:green;color:white;">+</button>
                            </div>
                            <div class="col-md-1">
                                <button id="btnRemoveParticular" type="button" class="form-control" style="background-color:red;color:white;">-</button>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12" id="divParticulars">

                    </div>


                    <div class="col-md-12">
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                            <button type="button" class="btn btn-primary btn-lg" id="btnupdate">Update</button>
                            <button type="button" id="btnreset" class="btn btn-primary btn-lg">Reset</button>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h4 class="margin-top">No Dues Particular Master List</h4>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive no-margin">
                            <table id="tblReport" class="table nowrap w-100"></table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>


                <input type="hidden" id="hdnid" />

            </div>
        </div>
    </div>
</div>

<script src="~/apiJS/NoDues/JsNoDuesParticularMaster.js"></script>
<script src="~/Comman/JS/CommanJS.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/Comman/JS/JsSelectAll.js?ver=@DateTime.Now.Ticks.ToString()"></script>


