@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Page-Title -->
<div class="col-sm-12">
    <h4 class="page-title  pb-2">Home</h4>
</div>


<div class="row" id="divContainerIndex">

</div>


@section Scripts {   
<script>
    $(document).ready(function () {
        var openRequest = indexedDB.open("dpbs", 1);
        openRequest.onupgradeneeded = function (e) {
            fncCreateAllDb(e);
        }
        openRequest.onsuccess = function (e) {
            var db = e.target.result;
            let ObjectStore = db.transaction("tblApplicationMaster", "readwrite")
                .objectStore("tblApplicationMaster");
            ObjectStore.openCursor().onsuccess = function (event) {
                var cursor = event.target.result;
                var HTMLElmet = '';
                if (cursor) {
                    if (cursor.value.displayOrder > 0) {
                        HTMLElmet = HTMLElmet + `<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h3 class="mt-0 mb-3 col-12"  title="${cursor.value.name}"><i class="${cursor.value.icon}"></i> <a class="clsApplicationArray" href="${cursor.value.areaName}" data-application-id="${cursor.value.id}" style=" color: #44a2d2;">${cursor.value.name}</a></h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                            ${cursor.value.description}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;
                    }
                    cursor.continue();
                }
                document.getElementById("divContainerIndex").innerHTML = HTMLElmet;
            };
        }
        openRequest.onerror = function (e) {
            console.log(e);
        }
        $(document).on("click", ".clsApplicationArray", function () {
            var applicationId = $(this).getAttribute("data-application-id");
            localStorage.setItem("currentApplication", applicationId);
        });
    });
</script>


}


