@page
@{
    ViewData["Title"] = "LeaveApplication";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .labledropdown {
        border: none !important;
        background-color: #f5f5f5 !important;
        -webkit-appearance: none;
        pointer-events: none;
    }
</style>

@*@Html.Partial("PartialLayoutMeTab")*@
<!-- tab link end -->
<div class="col-xl-12 mt-4">
    <div class="card">
        <div class="card-body">

            <div class="panel attendence-master-panel no-top-margin">
                <h1>Leave Application</h1>
                <hr />
                <div class="form-container">
                    <div class="attendence-inner-panel">

                        <div class="col-md-6 form-group">
                            <div class="col-md-4 text-rigth"><label class="col-form-label">Company</label></div>
                            <div class="col-md-8">
                                <select id="ddlCompany" class="form-control">
                                    @*<option>All</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-4"><label class="col-form-label">Employee Code</label></div>
                            <div class="col-md-8"> <select id="ddlEmployeeCode" class="form-control labledropdown"></select></div>
                        </div>



                        <div class="col-md-6 form-group">
                            <div class="col-md-4 text-rigth"><label class="col-form-label">Leave Type <i>*</i></label></div>
                            <div class="col-md-8">
                                <select id="ddlleavetype" class="form-control">
                                    <option value="0">--Select--</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <div class="col-md-4 text-rigth"><label class="col-form-label">Duration<i>*</i></label></div>
                            <div class="col-md-8">
                                <select id="ddlapplicable" class="form-control">
                                    <option value="0">--Select--</option>
                                    <option value="1">Full Day</option>
                                    <option value="2">Half Day</option>
                                    @*<option value="3">HH:MM</option>*@
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 form-group">
                            <div class="col-md-4 text-rigth"><label class="col-form-label">From Date<i>*</i></label></div>
                            <div class="col-md-8">
                                <input type="text" id="txtfromdate" autocomplete="off" class="ip-ap form-control" placeholder="From Date" />
                            </div>
                        </div>
                        <div id="DivToDate" class="col-md-6 form-group">
                            <div class="col-md-4 text-rigth"><label class="col-form-label">To Date<i>*</i></label></div>
                            <div class="col-md-8">
                                <input type="text" id="txttodate" autocomplete="off" class="ip-ap form-control" placeholder="To Date" />
                            </div>
                        </div>

                        <div id="Divhhmm" class="col-md-6 form-group">
                            <div class="col-md-4 text-rigth"><label class="col-form-label">HH:MM<i>*</i></label></div>
                            <div class="col-md-8">
                                <input type="time" id="txthhmm" class="form-control" />
                            </div>
                        </div>
                        <div id="DivDayPart" class="col-md-6 form-group">
                            <div class="col-md-4 text-rigth"><label class="col-form-label">Day Part<i>*</i></label></div>
                            <div class="col-md-8">
                                <select id="ddldaypart" class="form-control">
                                    <option value="0">--Select--</option>
                                    <option value="1">First Half</option>
                                    <option value="2">Second Half</option>
                                </select>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div id="DivDayPart" class="col-md-6 form-group">
                            <div class="col-md-4 text-rigth"><label class="col-form-label">Remarks<i>*</i></label></div>
                            <div class="col-md-8">
                                <textarea type="text" maxlength="100" class="form-control" id="txtremark" placeholder="Remark.." style="resize:none;"></textarea>
                            </div>
                        </div>


                        <div class="col-md-12 mt-4">
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                                <button type="button" class="btn btn-primary btn-lg" id="btnupdate">Update</button>
                                <button type="button" class="btn btn-primary btn-lg" id="btnreset">Reset</button>
                                @*<button type="button"  class="btn btn-primary btn-lg" id="btnReport">Report</button>*@
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="margin-top">Pending Application List</h2>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tblleaveapp" class="table w-100 nowrap"></table>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <!-- attendence inner panel end-->
                    </div>
                    <!-- form container end -->
                </div>
                <!-- panel end -->
            </div>

        </div>
    </div>
</div>




<input type="hidden" id="hdnid" />
<script src="~/Comman/JS/JsSelectAll.js"></script>
<script src="~/apiJS/View/LeaveApplication.js"></script>
<script src="~/apiJS/View/JsApplicationLink.js"></script>



