@page
@{
    ViewData["Title"] = "Bulk Upload";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-xl-12">
    <div class="panel ">
        <div>
            @Html.Partial("_PartialEmpLayout")
        </div>
        <div class="card mt-3">
            <div class="card-body">

                <div class="container-fluid">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <div class="col-md-12 ">
                                <div class="col-md-4  form-group">
                                    <label class="col-form-label">Select Company <i>*</i></label>
                                    <select id="ddlCompany" required="" class="form-control bg-light">
                                        <option>-- Select Company --</option>
                                    </select>
                                </div>

                                <div class="col-md-4  form-group">
                                    <label class="col-form-label">Select Upload Section <i>*</i></label>
                                    <select id="ddlUploadSection" required="" class="form-control bg-light">
                                        <option value="0">-- Select Upload Section  --</option>
                                        <option value="QualificationSection">Qualification Section</option>
                                        <option value="PersonalSection">Personal Section</option>
                                        <option value="FamilySection">Family Section</option>
                                        <option value="AccountSection">Account Section</option>
                                        <option value="UANSection">UAN & ESIC Section</option>
                                        <option value="ShiftAllocation">Shift Allocation</option>
                                        <option value="WeekOffAllocation">WeekOff Allocation</option>
                                        <option value="GradeAllocation">Grade Allocation</option>
                                        <option value="DesignationAllocation">Designation Allocation</option>
                                        <option value="ManagerAllocation">Manager Allocation</option>
                                        <option value="EmployeePunch">Employee Punch</option>
                                        <option value="EmployeeAttendanceStatus"> Attendance Status</option>
                                        <option value="DeleteManualPunch"> Delete Manual Punch</option>
                                        <option value="FullUpload"> Employee All Details</option>
                                    </select>
                                </div>
                                <div class="col-md-4  form-group">
                                    <label class="col-form-label" style=" margin-top: 20%;"></label>
                                    <a id="solTitle" href="#" class="btn btn-success btn-lg text-right " onClick="DownloadEmployeeOfficaialSectionExcelFile();"><i class="fa fa-download"></i> Download Format</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <hr />
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="col-md-4 form-group">

                        </div>
                        <div class="col-md-6  form-group">
                            <input name="file" type="file" id="FileBulkUpload" required style="float:left" autocomplete="off">

                            <button type="button" id="btnsave" class="btn btn-primary waves-effect waves-light">Submit</button>
                        </div>

                    </div> <!-- end col -->
                </div>

            </div>
            <input type="hidden" id="HFb64" />
        </div>
    </div>
</div>



<script src="~/Comman/JS/JsSelectAll.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/apiJS/Employee/JsBulkUpload.js?ver=@DateTime.Now.Ticks.ToString()"></script>






<div id="myModal" class="modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-self-center mt-0">Incorrect Data Detail in Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="table-responsive ">
                    <table id="tbl_exceldtl" class="table nowrap w-100"></table>

                </div>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
