@page
@{
    ViewData["Title"] = "CalenderLeaveAndAttenDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>CalenderLeaveAndAttenDetail</h2>

<script src="~/apiJS/Employee/CalenderLeaveAndAttenDetail.js?ver=@DateTime.Now.Ticks.ToString()"></script>