@page
@{
    ViewData["Title"] = "AddGradeMaster";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="col-xl-12">
    <div class="panel ">
        <div class="card">
            <div class="card-body p-2">


                @*<h1></h1>
        <hr />*@
                <!--  <div class="text-rigth">
        <a href="/Masters/AddGradeMaster" class="addBTN">Add Grade <span class="fa fa-plus"></span></a>
    </div>
      -->
                <div class="form-container master-panel">
                    <div class="col-md-12">
                        <h4>Add Grade Master</h4>
                        <hr />
                    </div>
                   
                        <div class="col-md-12 align-self-center">
                            <div class="form-group">
                                <label class="col-form-label">Grade Name<i>*</i></label>

                                <input id="txtgrade" type="text" class="col-lg-6 form-control" maxlength="50"  autocomplete="off" placeholder="Grade Name" onkeypress="return AlphaNumeric(event);" />


                            </div>

                            <div class="form-group form-inline">
                                <label class=" mr-4 col-form-label">Status</label>
                                <div class="">
                                    <div class="form-check-inline my-1">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" id="is_active" type="radio" value="1" name="chkstatus">
                                            <label class="custom-control-label" for="is_active">  Active</label>
                                        </div>
                                    </div>
                                    <div class="form-check-inline my-1">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" id="is_in_active" type="radio" value="0" name="chkstatus">
                                            <label class="custom-control-label" for="is_in_active">  Inactive</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class=" btn-group">
                                <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                                <button type="button" class="btn btn-primary btn-lg" id="btnupdate">Update</button>
                                <button type="button" id="btnreset" class="btn btn-light btn-lg">Reset</button>
                            </div>
                        </div>
                    
                </div>

             
               
                <div class="col-md-12">
                    <h4 class="mt-5">Grade Master List</h4>
                    <hr />

                </div>

                <div class="col-md-12">
                    <div class="table-responsive no-margin">
                        <table id="tblgrade" class="table no-margin">
                            <thead>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Grade Name</th>
                                    <th>Status</th>
                                    @*<th>Created By</th>*@
                                    <th>Created On</th>
                                    <th>Modified On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>


<input type="hidden" id="hdnid" />

<script src="~/Comman/JS/CommanJS.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/apiJS/Masters/GradeMaster.js?ver=@DateTime.Now.Ticks.ToString()"></script>
