@page
@{
    ViewData["Title"] = "AddState";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-xl-12">
    <div class="panel">
        <div class="card">
            <div class="card-body p-2">

                @*<div class="text-rigth">
                        <a href="#" class="addBTN">Add State <span class="fa fa-plus"></span></a>
                    </div>*@
                <div class="form-container">
                    <div class="col-md-12">
                        <h4>Add State Master</h4>
                        <hr />
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Country Name</label>
                            <select id="ddlcountry" class="form-control">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">State Name</label>
                            <input type="text" id="txtstatename" maxlength="50" autocomplete="off" placeholder="State Name" class="form-control">
                        </div>
                    </div>


                    <div class="clear"></div>

                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                        <button type="button" class="btn btn-primary btn-lg" id="btnupdate">Update</button>
                        <button type="button" id="btnreset" class="btn btn-primary btn-lg">Reset</button>
                    </div>

                    <div class="col-md-12">
                        <h4 class="margin-top">State List</h4>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive no-margin">
                            <table id="tblstate" class="table nowrap">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Country Name</th>
                                        <th>Short Name</th>
                                        <th>State Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
                <input type="hidden" id="hdnid" />

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#loader').show();
    var login_emp_id;
    $(document).ready(function () {
        setTimeout(function () {
            

            // debugger;
            var token = localStorage.getItem('Token');

            if (token == null) {
                window.location = '/Login';
            }

            GetData();
            $('#btnupdate').hide();
            $('#btnsave').show();
            BindCountryList('ddlcountry', 0);

            login_emp_id = CryptoJS.AES.decrypt(localStorage.getItem("emp_id"), localStorage.getItem("sit_id")).toString(CryptoJS.enc.Utf8).replace(/[\'\"]/g, function (m) { return m === "'" ? '' : ''; });

            $('#loader').hide();

        }, 2000);// end timeout

    });

    $('#btnreset').bind('click', function () {
        //$("#txtstatename").val('');
        //$("#ddlcountry").val('0');
        location.reload();
    });

    $('#btnsave').bind("click", function () {
        // debugger;
        var StateName = $("#txtstatename").val();
        var CountryId = $("#ddlcountry").val();
        var errormsg = '';
        var iserror = false;

        if (StateName == '' || StateName == null) {
            errormsg = errormsg + 'Please enter state name !! \n';
            iserror = true;
        }
        if (CountryId == 'undefined' || CountryId == '0' || CountryId == "") {
            errormsg = errormsg + 'Please select country name !!';
            iserror = true;
        }

        if (iserror) {
            alert(errormsg);
            return false;
        }


        var myData = {

            'CountryId': CountryId,
            'StateName': StateName,
            'created_by': login_emp_id,
            'ActionMode': 'Add'
        };
        var apiurl = localStorage.getItem("ApiUrl") + 'apiMasters/SaveAndUpdateState/';
        var obj = JSON.stringify(myData);
        var headerss = {};
        headerss["Authorization"] = 'Bearer ' + localStorage.getItem('Token');
        headerss["salt"] = $("#hdnsalt").val();

        $('#loader').show();

        $.ajax({
            url: apiurl,
            type: "POST",
            data: obj,
            dataType: "json",
            contentType: "application/json",
            headers: headerss,
            success: function (data) {
                // debugger;
                // var resp = JSON.parse(data);
                _GUID_New();
                var statuscode = data.statusCode;
                var Msg = data.message;

                if (statuscode == "0") {
                    $("#txtstatename").val('');
                    $("#ddlcountry").val('0');
                    //GetData();
                    // alert(Msg);
                    //location.reload();
                    $("#hdnid").val('');
                    GetData();
                    $('#btnupdate').hide();
                    $('#btnsave').show();
                    $("btnupdate").text('Update').attr("disabled", false);
                    $('#loader').hide();
                    messageBox("success", Msg);
                }
                else if (statuscode == "1" || statuscode == '2') {
                    messageBox("error", Msg);
                    $('#loader').hide();
                }
            },
            error: function (request, status, error) {
                $('#loader').hide();
                _GUID_New();

                var error = "";
                var errordata = JSON.parse(request.responseText);
                try {
                    var i = 0;
                    while (Object.keys(errordata).length > i) {
                        var j = 0;
                        while (errordata[Object.keys(errordata)[i]].length > j) {
                            error = error + "\r\n  * " + errordata[Object.keys(errordata)[i]][j] + "</br>";
                            j = j + 1;
                        }
                        i = i + 1;
                    }

                } catch (err) { }
                messageBox("error", error);

            }

        });
    });

    //--------bind data in jquery data table
    function GetData() {
        // debugger;
        var stateid = $("#hdnid").val();
        stateid = stateid == '' || stateid == 'undefined' ? 0 : stateid;
        var myData = {
            'CountryId': 0,
            'StateId': stateid
        };
        //var apiurl = localStorage.getItem("ApiUrl") + 'apiMasters/GetStateList/' + 0 + '/' + stateid;
        var apiurl = localStorage.getItem("ApiUrl") + 'apiMasters/GetStateList/0/-1';
        $('#loader').show();
        $.ajax({
            type: "GET",
            url: apiurl,
            data: {},
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            headers: { 'Authorization': 'Bearer ' + localStorage.getItem('Token') },
            success: function (res) {
                // debugger;
                $('#loader').hide();
                $("#tblstate").DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": false, // for process server side
                    "bDestroy": true,
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "scrollY": 150,
                    "aaData": res,
                    "columnDefs":
                        [
                            {

                            }
                        ],

                    "columns": [
                        { "data": "stateid", "name": "stateid", "autoWidth": true },
                        { "data": "countryname", "name": "countryname", "autoWidth": true },
                        { "data": "shortname", "name": "shortname", "autoWidth": true },
                        { "data": "statename", "name": "statename", "autoWidth": true },
                        {
                            "render": function (data, type, full, meta) {
                                return '<a href="#" onclick=EditData("' + full.stateid + '"); data-toggle="tooltip" title="Edit Record !"><i class="fa fa-pencil-square-o"></i></a>';
                            }
                        }
                    ],
                    "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]]

                });
            },
            error: function (error) {
                $('#loader').hide();
                messageBox("error", error.responseText);

            }
        });

    }

    function EditData(stateid) {
        // debugger;

        //var objd = data.split(',');
        //var countryid = objd[0];
        //var countryname = objd[1];
        //var shortname = objd[2];


        if (stateid != null && stateid != "undefined") {
            var myData = {
                'StateId': stateid,
                'CountryId': 0
            };
            $('#loader').show();
            //var apiurl = localStorage.getItem("ApiUrl") + 'apiMasters/GetStateList/' + 0 + '/' + stateid;
            var apiurl = localStorage.getItem("ApiUrl") + 'apiMasters/GetStateList/' + stateid + '/' + 0;
            $.ajax({
                type: "GET",
                url: apiurl,
                data: {},
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                headers: { 'Authorization': 'Bearer ' + localStorage.getItem('Token') },
                success: function (res) {
                    //res = res["data"];
                    $('#hdnid').val(res[0].state_id);
                    $("#txtstatename").val(res[0].name);
                    $('#ddlcountry').val(res[0].country_id);
                    $('#btnupdate').show();
                    $('#btnsave').hide();

                    $('#loader').hide();
                },
                error: function (err) {
                    $('#loader').hide();
                    messageBox("error", err.responseText);

                }
            });
        }
        else {
            alert('There some problem to process this request !!');
            $('#loader').hide();
        }
    }

    //-------update state data
    $("#btnupdate").bind("click", function () {
        // debugger;
        $('#btnupdate').text('Please wait..').prop("disabled", true);
        var StateName = $("#txtstatename").val();
        var CountryId = $('#ddlcountry').val();
        var StateId = $('#hdnid').val();

        var errormsg = '';
        var iserror = false;

        if (StateName == '' || StateName == null) {
            errormsg = errormsg + 'Please enter state name !! \n';
            iserror = true;
        }
        if (CountryId == 'undefined' || CountryId == '0' || CountryId == "") {
            errormsg = errormsg + 'Please select country name !!';
            iserror = true;
        }

        if (iserror) {
            alert(errormsg);
            return false;
        }

        var myData = {
            'CountryId': CountryId,
            'StateName': StateName,
            'StateId': StateId,
            'created_by': login_emp_id,
            'ActionMode': 'Update'
        };
        var headerss = {};
        headerss["Authorization"] = 'Bearer ' + localStorage.getItem('Token');
        headerss["salt"] = $("#hdnsalt").val();
        $('#loader').show();
        var apiurl = localStorage.getItem("ApiUrl") + 'apiMasters/SaveAndUpdateState/';
        var obj = JSON.stringify(myData);

        $.ajax({
            url: apiurl,
            type: "POST",
            data: obj,
            dataType: "json",
            contentType: "application/json",
            headers: headerss,
            success: function (data) {
                // debugger;
                // var resp = JSON.parse(data);
                _GUID_New();
                var statuscode = data.statusCode;
                var Msg = data.message;
                $('#btnupdate').text('Update').prop("disabled", false);
                $('#loader').hide();
                if (statuscode == "0") {
                    $("#txtstatename").val('');
                    $("#ddlcountry").val('0');
                    //GetData();
                    // alert(Msg);
                    //location.reload();
                    $("#hdnid").val('');
                    GetData();
                    $('#btnupdate').hide();
                    $('#btnsave').show();
                    $("btnupdate").text('Update').attr("disabled", false);
                    $('#loader').hide();
                    messageBox("success", Msg);
                }
                else if (statuscode == "1" || statuscode == '2') {
                    messageBox("error", Msg);
                }

            },
            error: function (request, status, error) {
                _GUID_New();
                $('#loader').hide();
                $('#btnupdate').text('Update').prop("disabled", false);
                var error = "";
                var errordata = JSON.parse(request.responseText);
                try {
                    var i = 0;
                    while (Object.keys(errordata).length > i) {
                        var j = 0;
                        while (errordata[Object.keys(errordata)[i]].length > j) {
                            error = error + "\r\n  * " + errordata[Object.keys(errordata)[i]][j] + "</br>";
                            j = j + 1;
                        }
                        i = i + 1;
                    }

                } catch (err) { }

                messageBox("error", error);

            }

        });
    });


</script>

