@page
@{
    ViewData["Title"] = "Add Sub Location Master";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="col-xl-12">
    <div class="panel ">
      

        <!--  <div class="text-rigth">
              <a href="/Masters/AddGradeMaster" class="addBTN">Add Grade <span class="fa fa-plus"></span></a>
          </div>
            -->


        <div class="card ">
            <div class="card-body p-2">
              
                <div class="form-container  master-panel desination-panel">
                    <div class="col-md-12">
                        <h4>Add Sub Location Master</h4>
                        <hr>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class=" col-form-label">Company Name<i>*</i></label>
                            <div class="">
                                <select id="ddlcompany" class="form-control">
                                    <option value="0">--Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Location<i>*</i></label>
                            <div>
                                <select id="ddllocation" class="form-control">
                                    <option value="0">--Select--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sub Location<i>*</i></label>

                            <div class="">
                                <input id="txtsublocationname" type="text" maxlength="50" class="form-control" onkeypress="return AlphaNumeric(event);" autocomplete="off" placeholder="Sub Location Name" />
                            </div>
                        </div>
                    </div>

                    <div class=" col-md-6 ">

                        <div class="form-group">
                            <label class=" mb-0 ">Status</label>
                            <div class="clear"></div>
                            <div class="form-check-inline ">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="is_active" type="radio" value="1" name="chkstatus">
                                    <label class="custom-control-label" for="is_active">  Active</label>
                                </div>
                            </div>
                            <div class="form-check-inline ">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="is_in_active" type="radio" value="0" name="chkstatus">
                                    <label class="custom-control-label" for="is_in_active">  Inactive</label>
                                </div>
                            </div>

                        </div>
                    </div>


                    @*<div class="col-md-6">
            <div class="col-md-6 text-rigth"><label>Sub Location Code</label></div>
            <div class="col-md-6">
                <input id="txtsublocationcode" type="text" autocomplete="off" maxlength="5" placeholder="Sub Location Code" />
            </div>
        </div>*@


                    <div class="col-md-12">
                        <div class="form-group text-center mx-auto">


                            <div class=" btn-group">
                                <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                                <button type="button" class="btn btn-light btn-lg" id="btnupdate">Update</button>
                                <button type="button" id="btnreset" class="btn btn-light btn-lg">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12"> <h4 class="margin-top">Sub Location Master List</h4></div>

                       
                        <div class="col-md-12">
                            <div class="table-responsive no-margin">
                                <table id="tblsublocation" class="table no-margin w-100">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            @*<th>CompanyID</th>*@
                                            <th>Sub Loc. Name</th>
                                            <th>Location</th>
                                            <th>Company</th>
                                            <th>Status</th>
                                            <th>Created By</th>
                                            <th>Created On</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnid" />

<script src="~/apiJS/Masters/SubLocation.js?ver=@DateTime.Now.Ticks.ToString()"></script>
