@page
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="col-xl-12">
    <div class="panel ">
        <div class="card">
            <div class="card-body p-2">

                <div class="form-container master-panel">
                    <div class="col-md-12">
                        <h4>Change Password</h4>
                        <hr />
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">User ID</label>
                            <input type="text" class="form-control" id="txtloginuserid" disabled="disabled" />
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Old Password<i>*</i></label>
                            <input type="password" id="txtoldpwd" class="form-control" placeholder="Old Password" />
                        </div>
                    </div>
                    @*<hr />*@

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">New Password<i>*</i></label>
                            <input type="password" id="txtnewpwd" class="form-control" placeholder="New Password" />
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Confirm Password<i>*</i></label>
                            <input type="password" id="txtconfirmpwd" class="form-control" placeholder="Confirm Password" />
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col-md-12">
                        <div class="form-group text-center">
                            @*<div class="btn-group">*@
                                <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                                <button type="button" id="btnreset" class="btn btn-primary btn-lg">Reset</button>
                            @*</div>*@
                        </div>
                    </div>



                </div>
                    </div>
                </div>
    </div>
</div>




<script src="~/apiJS/Masters/ChangePassword.js?ver=@DateTime.Now.Ticks.ToString()"></script>
