@page
@{
    ViewData["Title"] = "CurrentOpening";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="col-xl-12">
    <div class="panel ">
        <div class="card">
            <div class="card-body p-2">


                <div class="form-container master-panel">
                    <div class="col-md-12">
                        <h4>Current Opening</h4>
                        <hr />
                    </div>

                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="description" class="col-form-label">Company<i>*</i></label>
                            <select id="ddlcompany" class="form-control">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label asp-for="description" class="col-form-label">Department<i>*</i></label>
                            <select id="ddldepartment" class="form-control">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="description" class="col-form-label">Opening<i>*</i></label>
                            <input type="text" class="form-control" id="txtOpenings">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="fromDate" class="col-form-label">Posted Date<i>*</i></label>
                            <input type="text" class="ip-ap form-control" id="txtPostedDate">
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="description" class="col-form-label">Experience<i>*</i></label>
                            <input type="text" class="form-control" id="txtExperience">
                        </div>
                    </div>

                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label asp-for="description" class="col-form-label">Current Status<i>*</i></label>
                            <select id="ddlStatus" class="form-control">
                                <option value="0">--Select--</option>
                                <option value="1">On Hold</option>
                                <option value="2">Hiring Ongoing</option>
                                <option value="3">Vacancy Expired</option>
                            </select>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="description" class="col-form-label">Job Discription<i>*</i></label>
                            <textarea class="form-control" id="txtJobDiscription"></textarea>
                        </div>
                    </div>

                    <div class=" col-md-6">
                        <div class="form-group">
                            <label asp-for="description" class="col-form-label">Roles and Responsibilities<i>*</i></label>
                            <textarea class="form-control" id="txtRandR"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label asp-for="description" class="col-form-label">Upload Document<i>*</i></label>
                            <input type="file" class="form-control" id="txtFile" accept="image/*">
                        </div>
                    </div>



                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label asp-for="description" class="col-form-label">Remarks<i>*</i></label>
                            <input type="text" class="form-control" id="txtRemark">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group text-center">
                            <div class=" btn-group">
                                <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                                <button type="button" class="btn btn-light btn-lg" id="btnupdate">Update</button>
                                <button type="button" id="btnreset" class="btn btn-light btn-lg">Reset</button>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-12">
                        <h4 class="mt-4">Current opening List</h4>
                        <hr />
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive no-margin">
                            <table id="tblReport" class="table nowrap"></table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnid" />
<script src="~/Comman/JS/JsSelectAll.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/apiJS/Masters/JsCurrentOpening.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/Comman/JS/CommanJS.js?ver=@DateTime.Now.Ticks.ToString()"></script>