@page
@{
    ViewData["Title"] = "DocumentTypeMaster";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="col-xl-12">
    <div class="panel">
        <div class="card">
            <div class="card-body p-2">

                <div class="form-container master-panel">
                    <div class="col-md-12">
                        <h4>Document Type Master</h4>
                        <hr />
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Company Name<i>*</i></label>
                            <select id="ddlcompany" class="form-control">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Name<i>*</i></label>
                            <input type="text" id="txtdocname" placeholder="Document Name" class="form-control" onkeypress="return AlphaNumeric(event);" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Remarks (Optional)</label>
                            <textarea id="txtremarks" placeholder="Remarks" class="form-control" onkeypress="return AlphaNumeric(event);"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                            <button type="button" class="btn btn-primary btn-lg" id="btnupdate">Update</button>
                            <button type="button" id="btnReset" class="btn btn-primary btn-lg">Reset</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="margin-top">Document Type Details</h4>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive no-margin">
                            <table id="tbldoctypelist" class="table nowrap"></table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
               
                <input type="hidden" id="hdndoctypemasterid" />

                </div>
            </div>
        </div>
    </div>
 <script src="~/apiJS/Masters/JsDocumentType.js?ver=@DateTime.Now.Ticks.ToString()"></script>
