@page
@{
    ViewData["Title"] = "MenuMaster";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-xl-12">
    <div class="panel">
        <div class="card">
            <div class="card-body p-2">
                <div class="form-container master-panel">
                    <div class="col-md-12">
                        <h4>Menu Master</h4>
                        <hr />
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Menu Name<i>*</i></label>
                            <input type="text" id="txtmenu" maxlength="150" placeholder="Menu Name" class="form-control" />
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Url</label>
                            <input type="text" id="txturl" class="form-control" maxlength="250" placeholder="Url" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Parent Menu</label>
                            <select id="ddlparentmenu" class="form-control">
                                <option value="0">--Please Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Icon Url<i>*</i></label>
                            <input type="text" id="txtIconUrl" maxlength="250" class="form-control" placeholder="Icon Url" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label ">Sorting Order</label>
                            <input type="text" id="txtsortingorder" class="form-control" maxlength="2" placeholder="Sorting Order" onkeypress="return isNumber(event,this)" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                            <button type="button" class="btn btn-primary btn-lg" id="btnupdate">Update</button>
                            <button type="button" id="btnreset" class="btn btn-primary btn-lg">Reset</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="margin-top">Menu Master Details</h4>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive no-margin">
                            <table id="tblmenumasterdetail" class="table nowrap">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Menu</th>
                                        <th>Icon Url</th>
                                        <th>Url</th>
                                        <th>Parent Menu</th>
                                        <th>Created Date</th>
                                        <th>Modified Date</th>
                                        <th>Sorting Order</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

               
                <input type="hidden" id="hdnmenuid" />

                </div>
            </div>
        </div>
    </div>
                <script src="~/Comman/JS/CommanJS.js?ver=@DateTime.Now.Ticks.ToString()"></script>
                <script src="~/apiJS/Masters/MenuMaster.js?ver=@DateTime.Now.Ticks.ToString()"></script>

