@page
@{
    ViewData["Title"] = "MobileAccessMaster";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-xl-12">
    <div class="panel ">
        <div class="card">

            <div class="card-body p-2">

                <div class="form-container master-panel">
                    <div class="col-md-12">
                        <h1>Mobile Application Access Master</h1>
                        <hr />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 form-group">
                        <div class="col-md-4"><label class="col-form-label">Company <i>*</i></label></div>
                        <div class="col-md-8">
                            <select id="ddlcompany" class="form-control">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <div class="col-md-4"><label class="col-form-label">Department <i>*</i></label></div>
                        <div class="col-md-8">
                            <select id="ddlDepartment" class="form-control">
                                <option value="0">--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4>Employee Details</h4>
                        <div class="table-responsive no-margin">
                            <table id="tblemployee" class="table nowrap w-100"> </table>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                            <button type="button" class="btn btn-primary btn-lg" id="btnupdate">Update</button>
                            <button type="button" id="btnreset" class="btn btn-secondary btn-lg">Reset</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<input type="hidden" id="hdnid" />
<script src="~/apiJS/Masters/JsMobileAccessMaster.js?ver=@DateTime.Now.Ticks.ToString()"></script>