@page
@{
    ViewData["Title"] = "GradeAllocation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link href="~/css/DisplayOnly.css" rel="stylesheet" />

<div class="col-xl-12">
    <div>@Html.Partial("PartialEmpProfileLayout")</div>

    @*<nav class="payroll-nav is-hoverable shadow-sm bg-white  ">
        <div class="rounded">
            <ul class="metismenu " id="menu2">
                <li><a href="/EmployeeProfile/OfficialSection">Official Section</a></li>
                <li><a href="/EmployeeProfile/ShiftAllocation">Shift Allocation</a></li>
                <li><a href="/EmployeeProfile/WeekOff">Week Off</a></li>
                <li class="active"><a href="/EmployeeProfile/GradeAllocation">Grade Allocation</a></li>
                <li><a href="/EmployeeProfile/DesignationAllocation">Designation Allocation</a></li>*@
    @*<li><a href="ManagerAllocation">Manager Allocation</a></li>*@
    @*<li><a href="/EmployeeProfile/PersonalDetails">Personal Details</a></li>
                    <li><a href="/EmployeeProfile/QualificationSection">Qualification Section</a></li>
                    <li><a href="/EmployeeProfile/FamilySection">Family Section</a></li>
                    <li><a href="/EmployeeProfile/HealthCard">Health Card</a></li>
                    <li><a href="/EmployeeProfile/WorkingRoleAllocation">Working Role</a></li>
                </ul>
            </div>
        </nav>*@
    <div class="clearfix">
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <hr />
            <div class="panel ">
                <div class="form-container no-top-margin">

                    <div class="col-md-6 form-group">
                        <div class="col-md-3"><label class="col-form-label">Company</label></div>
                        <div class="col-md-9">
                            <select id="ddlCompany" class="form-control bg-light disabled" disabled>
                                <option>All</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="col-md-3"><label class="col-form-label">Employee Code </label></div>
                        <div class="col-md-9"> <select id="ddlEmployeeCode" class="form-control bg-light disabled" disabled></select></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="col-md-3 "><label class="col-form-label">Grade</label></div>
                        <div class="col-md-9">
                            <select id="ddlgrade" class="form-control bg-light disabled" disabled></select>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="col-md-3"><label class="col-form-label">From Date</label></div>
                        <div class="col-md-9"><input type="text" class="ip-ap bg-light form-control bg-light" readonly id="allocfromdate" /></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="col-md-3 "><label class="col-form-label">To Date</label></div>
                        <div class="col-md-9"><input type="text" class="ip-ap bg-light form-control bg-light" readonly id="alloctodate" /></div>
                    </div>


                    <div class="clear"></div>
                    <!-- form container end -->
                </div>
            </div>
        </div>
    </div>
</div>





<script src="~/Comman/JS/CommanJS.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/Comman/JS/JsSelectAll.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/apiJS/EmployeeProfile/JsGradeAllocation.js?ver=@DateTime.Now.Ticks.ToString()"></script>