@page
@{
    ViewData["PageId"] = "200105";
    ViewData["Title"] = "Flight Class Filter Report";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <div class="col-md-12">
        <div class="panel">
            <div class="card">
                <div class="card-body p-2">
                    <div class="form-container master-panel">
                        <div class="col-md-12">
                            <h4> @ViewBag.Title </h4>
                            <hr />
                        </div>
                        
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label col-md-3" for="ddlCustomerType">Customer Type</label>
                                    <div class="col-md-9">
                                        <select id="ddlCustomerType" name="ddlCustomerType" class="form-control" autofocus required>
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="button" id="loadGridData" class="btn btn-primary btn-lg" value="Get Data">
                                </div>
                            </div>


                        </div>                            

                            <div class="col-md-12">
                                <hr />
                                <div class="table-responsive no-margin">
                                    <table id="dt_table1" class="table w-100 no-margin table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Customer Type</th>
                                                <th>Is All Enabled</th>
                                                <th>Fare Code</th>
                                                <th>Remarks</th>
                                                <th>Created By</th>
                                                <th>Created Dt</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <div class="clear"></div>
                                </div>
                            </div>


                        </div>
                    </div>
            </div>
        </div>
    </div>

@section Scripts {    
    <script type="text/javascript">



        $(document).ready(function () {
            let OrgId = localStorage.getItem("currentOrganisation");
            let token = localStorage.getItem('token');
            let headerss = new Headers();

            $(".ip-ap").flatpickr({
                dateFormat: "d-M-Y",
            });

            $("#txtEffectiveFromDt").val(GetDateFormatddMMyyyy(new Date()));
            $("#txtEffectiveToDt").val(GetDateFormatddMMyyyy(new Date()));

            headerss.append("Authorization", 'Bearer ' + token);
            headerss.append("Content-Type", "application/json; charset=utf-8");
            headerss.append("OrgId", OrgId);
            //bindcountry
            BindEnumswithAll("ddlCustomerType", enmCustomerType, "");
            

            $("#loadGridData").click(function () {
                $('#loader').show();
                let CustomerType = $("#ddlCustomerType").val();
                let ApplyCustomerFilter = true;
                if (CustomerType == '') { ApplyCustomerFilter = false   ; CustomerType = 1 }
                let apiurl = localStorage.getItem('baseUrl') + "Air/settings/GetFlightFareFilter/" + ApplyCustomerFilter+"/"+CustomerType+"";
                fetch(apiurl, {
                    method: "GET",
                    headers: headerss,
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error(response.statusText);
                    }
                }).then(data => {
                    if (data.messageType == 1) {
                        var dt = $("#dt_table1").DataTable({
                            "processing": true, // for show progress bar
                            "serverSide": false, // for process server side
                            responsive: true,
                            "bDestroy": true,
                            "filter": true, // this is for disable filter (search box)
                            "orderMulti": false, // for disable multiple column at once
                            "scrollX": 200,
                            //"scrollY": "200px",
                            //dom: 'lBfrtip',
                            dom: "<'row'<'col-md-12 text-right mb-3'B>><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                            buttons: [
                                {
                                    text: 'Export',
                                    title: 'Company Data',
                                    extend: 'excelHtml5',
                                    exportOptions: {
                                        columns: [0,1, 2, 3, 4, 5, 6]
                                    }
                                },
                                {
                                    extend: 'colvis',
                                    columnText: function (dt, idx, title) {
                                        return (idx + 1) + ': ' + title;
                                    }
                                }
                            ],
                            "aaData": data.returnId,
                            "columnDefs":
                                [{
                                    targets: [1],
                                    "class": "text-center",
                                    render: function (data, type, row) {
                                        return data == 1 ? `<spam class="badge badge-success">Yes</spam>` : '<spam class="badge badge-danger">No</spam>'
                                        
                                    }
                                }
                                    ,{
                                        targets: [5],
                                        render: function (data, type, row) {
                                            var date = new Date(data);
                                            return GetDateFormatddMMyyyy(date);
                                        }
                                    },
                                    {
                                        targets: [6],
                                        "class": "text-center",
                                        render: function (data, type, row) {
                                            return `<a class="dropdown-item" href="#"  data-delete-id="${data}" onClick=fncDeleteGridData(this) > <i class="fa fa-trash-alt"></i> Delete</a>`;
                                        }
                                    }
                                ],
                            "columns": [
                                { "data": "customerType", "name": "customerType", "autoWidth": true },
                                { "data": "isEanableAllFare", "name": "isEanableAllFare", "autoWidth": true },
                                { "data": "filterDetails", "name": "filterDetails", "autoWidth": true },
                                { "data": "remarks", "name": "remarks", "autoWidth": true },
                                { "data": "modifiedByName", "name": "modifiedByName", "autoWidth": true },
                                { "data": "modifiedDt", "name": "modifiedDt", "autoWidth": true },
                                { "data": "filterid", "name": "filterid", "autoWidth": true }
                            ],
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                            
                        });

                        $('#loader').hide();
                    }
                    else {
                        $('#loader').hide();
                        messageBox("error", data.message);
                    }
                }).catch((error) => {
                    $('#loader').hide();
                    messageBox("error", error.message);
                });

            });
        });


        function fncDeleteGridData(e) {
            let OrgId = localStorage.getItem("currentOrganisation");
            let token = localStorage.getItem('token');
            let headerss = new Headers();
            headerss.append("Authorization", 'Bearer ' + token);
            headerss.append("Content-Type", "application/json; charset=utf-8");
            headerss.append("OrgId", OrgId);
            msgBoxImagePath = "/js/msgbox/images/";
            $.msgBox({
                title: "Remarks",
                content: "Please enter the remarks",
                type: "prompt",
                buttons: [{ value: "OK" }, { value: "Cancel" }],
                inputs: [{ type: "text", name: "txtDeletedRemarks", header: "Remarks", maxlength: 255 }],
                success: function (result) {
                    if (result == "OK") {
                        let remarks = $('input[name=txtDeletedRemarks]').val();
                        if (remarks !== undefined) {
                            $('#loader').show();
                            let Postapiurl = localStorage.getItem('baseUrl') + "air/Markups/DeleteWingMarkup"
                            let Postheaderss = new Headers();
                            Postheaderss.append("Authorization", 'Bearer ' + localStorage.getItem('token'));
                            Postheaderss.append("OrgId", localStorage.getItem('currentOrganisation'));
                            Postheaderss.append("Content-Type", "application/json; charset=utf-8");
                            var formdata = JSON.stringify({
                                "Id": e.getAttribute("data-delete-id"),
                                "Remarks": remarks,
                            });
                            fetch(Postapiurl, {
                                method: "POST",
                                headers: Postheaderss,
                                body: formdata,
                                redirect: 'follow'

                            }).then(response => {
                                if (response.ok) {
                                    return response.json();
                                } else {
                                    throw new Error(response.statusText);
                                }
                            }).then(data => {

                                if (data.messageType == 1) {
                                    $('#loader').hide();

                                    messageBox("success", "Deleted successfully");
                                    $("#loadGridData").trigger('click');

                                }
                                else {
                                    $('#loader').hide();
                                    messageBox("error", data.message);
                                }
                            }).catch((error) => {
                                $('#loader').hide();
                                messageBox("error", error.message);
                            });
                        }

                    }
                    return false;
                }
            });


        }


    </script>
}
        

