@page
@{
    ViewData["PageId"] = "200105";
    ViewData["Title"] = "Flight Class Alter Report";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    <div class="col-md-12">
        <div class="panel">
            <div class="card">
                <div class="card-body p-2">
                    <div class="form-container master-panel">
                        <div class="col-md-12">
                            <h4> @ViewBag.Title </h4>
                            <hr />
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="button" id="loadGridData" class="btn btn-primary btn-lg" value="Get Data">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr />
                            <div class="table-responsive no-margin">
                                <table id="dt_table1" class="table w-100 no-margin table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Cabin Class</th>
                                            <th>Identifier</th>
                                            <th>classOfBooking</th>
                                            <th>Alter Details</th>
                                            <th>Remarks</th>
                                            <th>Modified By</th>
                                            <th>Modified Dt</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="clear"></div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {    
    <script type="text/javascript">

        $(document).ready(function () {
            let OrgId = localStorage.getItem("currentOrganisation");
            let token = localStorage.getItem('token');
            let headerss = new Headers();
            headerss.append("Authorization", 'Bearer ' + token);
            headerss.append("Content-Type", "application/json; charset=utf-8");
            headerss.append("OrgId", OrgId);
            //bindcountry
            $("#loadGridData").click(function () {
                $('#loader').show();
                let apiurl = localStorage.getItem('baseUrl') + "/Air/settings/getFlightBookingAlterMaster" ;
                fetch(apiurl, {
                    method: "GET",
                    headers: headerss,
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error(response.statusText);
                    }
                }).then(data => {
                    if (data.messageType == 1) {
                        var dt = $("#dt_table1").DataTable({
                            "processing": true, // for show progress bar
                            "serverSide": false, // for process server side
                            responsive: true,
                            "bDestroy": true,
                            "filter": true, // this is for disable filter (search box)
                            "orderMulti": false, // for disable multiple column at once
                            "scrollX": 200,
                            //"scrollY": "200px",
                            //dom: 'lBfrtip',
                            dom: "<'row'<'col-md-12 text-right mb-3'B>><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                            buttons: [
                                {
                                    text: 'Export',
                                    title: 'Company Data',
                                    extend: 'excelHtml5',
                                    exportOptions: {
                                        columns: [0,1, 2, 3, 4, 5, 6, 7]
                                    }
                                },
                                {
                                    extend: 'colvis',
                                    columnText: function (dt, idx, title) {
                                        return (idx + 1) + ': ' + title;
                                    }
                                }
                            ],
                            "aaData": data.returnId,
                            "columnDefs":
                                [{
                                    targets: [4],
                                    "class": "text-center",
                                    render: function (data, type, row) {
                                        let returndata = '';
                                        for (var i in data) {
                                            returndata = returndata + `<div class="col-md-12 mb-1" ><div class="col-md-4"><span class="badge badge-info">${data[i].item1}</span></div><div class="col-md-4"> <span class="badge badge-warning">Identifier : ${data[i].item2}</span></div><div class="col-md-4"> <span class="badge badge-success">CB : ${data[i].item3}</span></div></div>`;
                                        }
                                        return returndata ;
                                        
                                    }
                                }
                                    ,{
                                        targets: [7],
                                        render: function (data, type, row) {
                                            var date = new Date(data);
                                            return GetDateFormatddMMyyyyHHtt(date);
                                        }
                                    },
                                    {
                                        targets: [8],
                                        "class": "text-center",
                                        render: function (data, type, row) {
                                            return `<a class="dropdown-item" href="#"  data-delete-id="${data}" onClick=fncDeleteGridData(this) > <i class="fa fa-trash-alt"></i> Delete</a>`;
                                        }
                                    }
                                ],
                            "columns": [
                                { "data": "sno", "name": "sno", "autoWidth": true },
                                { "data": "cabinClass", "name": "cabinClass", "autoWidth": true },
                                { "data": "identifier", "name": "identifier", "autoWidth": true },
                                { "data": "classOfBooking", "name": "classOfBooking", "autoWidth": true },
                                { "data": "alterDetails", "name": "alterDetails", "autoWidth": true },
                                { "data": "modifyRemarks", "name": "modifyRemarks", "autoWidth": true },
                                { "data": "modifiedByName", "name": "modifiedByName", "autoWidth": true },
                                { "data": "modifiedDt", "name": "modifiedDt", "autoWidth": true },
                                { "data": "alterId", "name": "alterId", "autoWidth": true }
                            ],
                            "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
                            'createdRow': function (row, data, dataIndex) {
                                $('td:eq(4)', row).css('min-width', '200px');
                            }
                        });

                        $('#loader').hide();
                    }
                    else {
                        $('#loader').hide();
                        messageBox("error", data.message);
                    }
                }).catch((error) => {
                    $('#loader').hide();
                    messageBox("error", error.message);
                });

            });
        });


        function fncDeleteGridData(e) {
            let OrgId = localStorage.getItem("currentOrganisation");
            let token = localStorage.getItem('token');
            let headerss = new Headers();
            headerss.append("Authorization", 'Bearer ' + token);
            headerss.append("Content-Type", "application/json; charset=utf-8");
            headerss.append("OrgId", OrgId);
            msgBoxImagePath = "/js/msgbox/images/";
            $.msgBox({
                title: "Remarks",
                content: "Please enter the remarks",
                type: "prompt",
                buttons: [{ value: "OK" }, { value: "Cancel" }],
                inputs: [{ type: "text", name: "txtDeletedRemarks", header: "Remarks", maxlength: 255 }],
                success: function (result) {
                    if (result == "OK") {
                        let remarks = $('input[name=txtDeletedRemarks]').val();
                        if (remarks !== undefined) {
                            $('#loader').show();
                            let Postapiurl = localStorage.getItem('baseUrl') + "air/settings/DeleteFlightBookingAlterMaster"
                            let Postheaderss = new Headers();
                            Postheaderss.append("Authorization", 'Bearer ' + localStorage.getItem('token'));
                            Postheaderss.append("OrgId", localStorage.getItem('currentOrganisation'));
                            Postheaderss.append("Content-Type", "application/json; charset=utf-8");
                            var formdata = JSON.stringify({
                                "AlterId": e.getAttribute("data-delete-id"),
                                "Remarks": remarks,
                                "ClassOfBooking": "Dummy",
                                "CabinClass": 2,
                                "Identifier":"Dummy"
                            });
                            fetch(Postapiurl, {
                                method: "POST",
                                headers: Postheaderss,
                                body: formdata,
                                redirect: 'follow'

                            }).then(response => {
                                if (response.ok) {
                                    return response.json();
                                } else {
                                    throw new Error(response.statusText);
                                }
                            }).then(data => {

                                if (data.messageType == 1) {
                                    $('#loader').hide();

                                    messageBox("success", "Deleted successfully");
                                    $("#loadGridData").trigger('click');

                                }
                                else {
                                    $('#loader').hide();
                                    messageBox("error", data.message);
                                }
                            }).catch((error) => {
                                $('#loader').hide();
                                messageBox("error", error.message);
                            });
                        }

                    }
                    return false;
                }
            });


        }


    </script>
}
        

