@page
@{
    ViewData["PageId"] = "200103";
    ViewData["Title"] = "Instant Booking";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="col-xl-12">
        <div class="panel">
            <div class="card">
                <div class="card-body p-2">
                    <form id="frmOrganisation" method="post" action="">                        
                        <div class="form-container master-panel">
                            <div class="col-md-12">
                                <h4> @ViewBag.Title </h4>
                                <hr />
                            </div>



                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3" for="ddlCustomerType">Customer Type</label>
                                        <div class="col-md-9">
                                            <select id="ddlCustomerType" name="ddlCustomerType" class="form-control" autofocus required>
                                                <option value=""> -- Please Select --</option>
                                               
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group" for="txtEffectiveFromDt">
                                        <label class="col-form-label col-md-3" for="txtEffectiveFromDt">Effective From</label>
                                        <div class="col-md-9">
                                            <input type="text" id="txtEffectiveFromDt" name="txtEffectiveFromDt"
                                                   maxlength="256" autocomplete="off"
                                                   class="form-control ip-ap" required>
                                        </div>
                                    </div>
                                </div>

                            </div>




                            <div class="row mb-2">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3">Domestic</label>
                                        <div class="col-md-8">
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_active_domestic" type="radio" value="true" name="chkdomestic">
                                                    <label class="custom-control-label" for="is_active_domestic">  Yes</label>
                                                </div>
                                            </div>
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_in_active_domestic" type="radio" value="false" name="chkdomestic">
                                                    <label class="custom-control-label" for="is_in_active_domestic">  No</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3">International</label>
                                        <div class="col-md-8">
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_active_international" type="radio" value="true" name="chkinternational">
                                                    <label class="custom-control-label" for="is_active_international">  Yes</label>
                                                </div>
                                            </div>
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_in_active_international" type="radio" value="false" name="chkinternational">
                                                    <label class="custom-control-label" for="is_in_active_international">  No</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="form-group" for="txtRemarks">
                                        <label class="col-form-label col-md-3" for="txtRemarks">Remarks</label>
                                        <div class="col-md-9">
                                            <input type="text" id="txtRemarks" name="txtRemarks"
                                                   maxlength="256" autocomplete="off"
                                                   class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <input type="submit" class="btn btn-primary btn-lg" value="Save">
                                        <input type="reset" id="clearform" class="btn btn-primary btn-lg" value="Reset">
                                        <a href="InstantBookingReport" class="btn btn-primary btn-lg">Report</a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                                <div class="clearfix"></div>

                            </div>

</form>
                     
                    <div class="table-responsive no-margin">
                            <table id="dt_table1" class="table w-100 no-margin">
                                <thead>
                                    <tr>
                                        <th>Customer Type</th>
                                        <th>EffectiveFrom Dt</th>
                                        <th>Domestic Booking</th>
                                        <th>International Booking</th>
                                        <th>Remarks</th>
                                        <th>Modified By</th>
                                        <th>Modified Dt</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    

                </div>
            </div>
        </div>
    </div>

@section Scripts {
    
    <script type="text/javascript">

        

        $(document).ready(function () {
            
            let OrgId = localStorage.getItem("currentOrganisation");
            let token = localStorage.getItem('token');
            let headerss = new Headers();
            headerss.append("Authorization", 'Bearer ' + token);
            headerss.append("Content-Type", "application/json; charset=utf-8");
            headerss.append("OrgId", OrgId);
            //bindcountry
            $(".ip-ap").flatpickr({
                enableTime: true,
                dateFormat: "d-M-Y G:i K",
            });
            $("#txtEffectiveFromDt").val(GetDateFormatddMMyyyyHHtt(new Date()));
            BindEnums("ddlCustomerType", enmCustomerType, "");



            $("#ddlCustomerType").change(function () {
                $('#loader').show();
                let CustomerTypeId = this.value
                let apiurl = localStorage.getItem('baseUrl') + "/Air/settings/getInstantBookingSetting?IsDateFitlter=false&CustomerType=" + CustomerTypeId;
                fetch(apiurl, {
                    method: "GET",
                    headers: headerss,
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error(response.statusText);
                    }
                }).then(data => {
                    if (data.messageType == 1) {
                        var dt = $("#dt_table1").DataTable({
                            "processing": true, // for show progress bar
                            "serverSide": false, // for process server side
                            responsive: true,
                            "bDestroy": true,
                            "filter": true, // this is for disable filter (search box)
                            "orderMulti": false, // for disable multiple column at once
                            "scrollX": 200,                            
                            "aaData": data.returnId,
                            "columnDefs":
                                [

                                    {
                                        targets: [2,3],
                                        render: function (data, type, row) {
                                            return data == 1 ? `<spam class="badge badge-success">Yes</spam>` : '<spam class="badge badge-danger">No</spam>'
                                        }
                                    },
                                    {
                                        targets: [1,6],
                                        render: function (data, type, row) {
                                            var date = new Date(data);
                                            return GetDateFormatddMMyyyyHHtt(date);
                                        }
                                    },
                                    {
                                        targets: [7],
                                        "class": "text-center",
                                        render: function (data, type, row) {
                                            return `<a class="dropdown-item" href="#"  data-delete-id="${data}" onClick=fncDeleteGridData(this) > <i class="fa fa-trash-alt"></i> Delete</a>`;
                                        }

                                    }
                                ],
                            "columns": [
                                { "data": "customerType", "name": "customerType", "autoWidth": true },
                                { "data": "effectiveFromDate", "name": "effectiveFromDate", "autoWidth": true },
                                { "data": "instantDomestic", "name": "instantDomestic", "autoWidth": true },
                                { "data": "instantNonDomestic", "name": "instantNonDomestic", "autoWidth": true },
                                { "data": "modifyRemarks", "name": "modifyRemarks", "autoWidth": true },
                                { "data": "modifiedByName", "name": "modifiedByName", "autoWidth": true },
                                { "data": "modifiedDt", "name": "modifiedDt", "autoWidth": true },
                                { "data": "id", "name": "id", "autoWidth": true }
                            ],
                            "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
                            'createdRow': function (row, data, dataIndex) {
                                $('td:eq(3)', row).css('min-width', '200px');
                            }
                        });

                        $('#loader').hide();
                    }
                    else {
                        $('#loader').hide();
                        messageBox("error", data.message);
                    }
                }).catch((error) => {
                    $('#loader').hide();
                    messageBox("error", error.message);
                });
                
            });
            
            
            $("#frmOrganisation").validate({
                onkeyup: false,
                errorPlacement: function (error, element) {
                    if (element.hasClass('select2') && element.next('.select2-container').length) {
                        error.insertAfter(element.next('.select2-container'));
                    }
                    else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form, event) {
                    event.preventDefault();
                    $('#loader').show();
                    if (!($("#txtPassword").val() == $("#txtConfirmPassword").val())) {
                        $('#loader').hide();
                        messageBox("error", "Password and Confirm Password is not match");
                        return;
                    }
                    let Postapiurl = localStorage.getItem('baseUrl') + "air/settings/SetInstantBookingSetting"
                    let Postheaderss = new Headers();
                    Postheaderss.append("Authorization", 'Bearer ' + token);
                    Postheaderss.append("OrgId", OrgId);
                    Postheaderss.append("Content-Type", "application/json; charset=utf-8");
                    let is_domestic = false;
                    if ($("#is_active_domestic").is(":checked")) {
                        is_domestic=true;
                    }
                    let is_international = false;
                    if ($("#is_active_international").is(":checked")) {
                        is_international= true;
                    }

                    var formdata = JSON.stringify({
                        "CustomerType": $("#ddlCustomerType").val(),
                        "ModifyRemarks": $("#txtRemarks").val(),
                        "EffectiveFromDate": $("#txtEffectiveFromDt").val(),
                        "InstantDomestic": is_domestic,
                        "InstantNonDomestic": is_international
                    });
                    
                    fetch(Postapiurl, {
                        method: "POST",
                        headers: Postheaderss,
                        body: formdata,
                        redirect: 'follow'
                        
                    }).then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error(response.statusText);
                        }
                    }).then(data => {

                        if (data.messageType == 1) {                            
                            $('#loader').hide();
                            messageBox("success", "Save successfully");
                            $("#ddlCustomerType").trigger('change');

                        }
                        else {
                            $('#loader').hide();
                            messageBox("error", data.message);
                        }
                    }).catch((error) => {
                        $('#loader').hide();
                        messageBox("error", error.message);
                    });
                    
                }
            });
            $('#clearform').on('click', function () {
                var form = $("#frmOrganisation");
                form.validate().resetForm();  // clear out the validation errors
                form[0].reset();                  // clear out the form data
            });

        });


        function fncDeleteGridData(e) {
            msgBoxImagePath = "/js/msgbox/images/";
            $.msgBox({
                title: "Remarks",
                content: "Please enter the remarks",
                type: "prompt",
                buttons: [{ value: "OK" }, { value: "Cancel" }],
                inputs: [{ type: "text", name: "txtDeletedRemarks", header: "Remarks", maxlength: 255 }],
                success: function (result) {
                    if (result == "OK") {
                        let remarks=$('input[name=txtDeletedRemarks]').val();
                        if (remarks !== undefined) {
                            $('#loader').show();
                            let Postapiurl = localStorage.getItem('baseUrl') + "air/settings/DeleteInstantBookingSetting"
                            let Postheaderss = new Headers();
                            Postheaderss.append("Authorization", 'Bearer ' + localStorage.getItem('token'));
                            Postheaderss.append("OrgId", localStorage.getItem('currentOrganisation'));
                            Postheaderss.append("Content-Type", "application/json; charset=utf-8");
                            var formdata = JSON.stringify({
                                "Id": e.getAttribute("data-delete-id"),
                                "ModifyRemarks": remarks,
                            });
                            fetch(Postapiurl, {
                                method: "POST",
                                headers: Postheaderss,
                                body: formdata,                                
                                redirect: 'follow'

                            }).then(response => {
                                if (response.ok) {
                                    return response.json();
                                } else {
                                    throw new Error(response.statusText);
                                }
                            }).then(data => {

                                if (data.messageType == 1) {
                                    $('#loader').hide();
                                    messageBox("success", "Deleted successfully");
                                    $("#ddlCustomerType").trigger('change');

                                }
                                else {
                                    $('#loader').hide();
                                    messageBox("error", data.message);
                                }
                            }).catch((error) => {
                                $('#loader').hide();
                                messageBox("error", error.message);
                            });
                        }
                        
                    }
                    return false;
                }
            });

            
        }

    </script>
}
        

