@page
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Page-Title -->
<div class="col-sm-12">
    <h4 class="page-title  pb-2">Home</h4>
</div>


<div class="col-sm-12" id="divContainerIndex">

</div>


