@page
@{
    ViewData["PageId"] = "3";
    ViewData["Title"] = "Customer Markup Report";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="panel">
        <div class="card">
            <div class="card-body p-2">
                <div class="form-container master-panel">
                    <div class="col-md-12">
                        <h4>Customer Markup Report @*@ViewBag.Title *@ </h4>
                        <hr />
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="col-md-4">
                                <label class="col-form-label" for="ddlOrganisation">Organisation</label>
                            </div>
                            <div class="col-md-8">
                                <select id="ddlOrganisation" name="ddlOrganisation" class="form-control select2" required>
                                    <option value=""> -- Please Select --</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="button" id="loadGridData" class="btn btn-primary btn-lg" value="Get Data">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr />
                        <div class="table-responsive no-margin">
                            <table id="dt_table1" class="table w-100 no-margin">
                                <thead>
                                    <tr>
                                        <th>Sno</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>IsActive</th>
                                        <th>Address</th>
                                        <th>State</th>
                                        <th>Country</th>
                                        <th>Pincode</th>
                                        <th>Contact No</th>
                                        <th>Email</th>
                                        <th>Modified By</th>
                                        <th>Modified Dt</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="clear"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/apiJS/Comman/Organisation.js" asp-append-version="true"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //bindcountry
            $('#loader').show();
            BindOrganisation("ddlOrganisation", 0);
            $('#loader').hide();

            $('#loadGridData').click(function () {
                $('#loader').show();
                let apiurl = localStorage.getItem('baseUrl') + "Masters/GetCompanys/" + $('#ddlOrganisation').val();
                let token = localStorage.getItem('token');
                let headerss = new Headers();
                headerss.append("Authorization", 'Bearer ' + token);
                headerss.append("Content-Type", "application/json; charset=utf-8");
                fetch(apiurl, {
                    method: "GET",
                    headers: headerss,
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error(response.statusText);
                    }
                }).then(data => {

                    if (data.messageType == 1) {
                        var dt = $("#dt_table1").DataTable({
                            "processing": true, // for show progress bar
                            "serverSide": false, // for process server side
                            responsive: true,
                            "bDestroy": true,
                            "filter": true, // this is for disable filter (search box)
                            "orderMulti": false, // for disable multiple column at once
                            "scrollX": 200,
                            //"scrollY": "200px",
                            //dom: 'lBfrtip',
                            dom: "<'row'<'col-md-12 text-right mb-3'B>><'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                            buttons: [
                                {
                                    text: 'Export',
                                    title: 'Company Data',
                                    extend: 'excelHtml5',
                                    exportOptions: {
                                        columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                                    }
                                },
                                {
                                    extend: 'colvis',
                                    columnText: function (dt, idx, title) {
                                        return (idx + 1) + ': ' + title;
                                    }
                                }
                            ],
                            "aaData": data.returnId,
                            "columnDefs":
                                [

                                    {
                                        targets: [3],
                                        render: function (data, type, row) {
                                            return data == 1 ? `<spam class="badge badge-success">Active</spam>` : '<spam class="badge badge-danger">InActive</spam>'
                                        }
                                    },
                                    {
                                        targets: [11],
                                        render: function (data, type, row) {
                                            var date = new Date(data);
                                            return GetDateFormatddMMyyyy(date);
                                        }
                                    },
                                    {
                                        targets: [12],
                                        "class": "text-center",
                                        render: function (data, type, row) {
                                            return '<a href="Company?CompanyId=' + parseInt(data) + '" > <i class="fa fa-pencil-square-o"></i> Edit</a>';
                                        }

                                    }
                                ],
                            "columns": [
                                { "data": null, "name": "sno", "autoWidth": true },
                                { "data": "code", "name": "code", "autoWidth": true },
                                { "data": "name", "name": "name", "autoWidth": true },
                                { "data": "isActive", "name": "isActive", "autoWidth": true },
                                { "data": "address", "name": "address", "autoWidth": true },
                                { "data": "state", "name": "state", "autoWidth": true },
                                { "data": "country", "name": "country", "autoWidth": true },
                                { "data": "pincode", "name": "pincode", "autoWidth": true },
                                { "data": "contactNo", "name": "contactNo", "autoWidth": true },
                                { "data": "email", "name": "email", "autoWidth": true },
                                { "data": "modifiedBy", "name": "modifiedBy", "autoWidth": true },
                                { "data": "modifiedDt", "name": "modifiedDt", "autoWidth": true },
                                { "data": "companyId", "name": "companyId", "autoWidth": true }
                            ],
                            "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
                            'createdRow': function (row, data, dataIndex) {
                                $('td:eq(4)', row).css('min-width', '200px');
                                $('td:eq(2)', row).css('min-width', '150px');
                                $('td:eq(9)', row).css('min-width', '200px');
                            }

                        });

                        dt.on('order.dt search.dt', function () {
                            dt.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                                cell.innerHTML = i + 1;
                            });
                        }).draw();

                        $('#loader').hide();
                    }
                    else {
                        $('#loader').hide();
                        messageBox("error", data.message);
                    }
                }).catch((error) => {
                    $('#loader').hide();
                    messageBox("error", error.message);
                });
            });
        });


    </script>
}


