<div class="panel ">
    <h4>FNF Process</h4>
    <hr />
    <div class="form-container">

        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="company_name" class="col-form-label ">Company</label>
                <input type="text" id="txtcompany" placeholder="Company" class="form-control" disabled />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="ddlempcode" class="col-form-label ">Employee Code </label>
                <input type="text" id="txtempcode" class="form-control" placeholder="Employee Code" disabled />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="employee" class="col-form-label ">Employee</label>
                <input type="text" id="txtemployee" placeholder="Employee" class="form-control" disabled />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="department" class="col-form-label ">Department</label>
                <input type="text" id="txtdepartment" class="form-control" placeholder="Department" disabled />
            </div>
        </div>
        @*<div class="col-md-2">
                <div class="form-group ">
                    <label asp-for="dob" class="col-form-label ">Date of Birth</label>
                    <input type="text" id="txtdob" class="form-control" placeholder="Date of Birth" disabled />
                </div>
            </div>*@
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="designation" class="col-form-label ">Designation</label>
                <input type="text" id="txtdesignation" class="form-control" placeholder="Designation" disabled />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="doj" class="col-form-label ">Date of Joining</label>
                <input type="text" id="txtdoj" class="form-control" placeholder="Date of Joining" disabled />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="location" class="col-form-label ">Work Location</label>
                <input type="text" id="txtlcoation" class="form-control" placeholder="Location" disabled />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="nationality" class="col-form-label ">Nationality</label>
                <input type="text" id="txtnationality" class="form-control" placeholder="Nationality" disabled />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="emptype" class="col-form-label ">Employee Status</label>
                <input type="text" id="txtempstatus" class="form-control" placeholder="Employee Status" disabled />
            </div>
        </div>
        @*<div class="col-md-2">
                <div class="form-group ">
                    <label asp-for="religion" class="col-form-label ">Religion</label>
                    <input type="text" id="txtreligion" class="form-control" placeholder="Religion" disabled />
                </div>
            </div>*@
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="grade" class="col-form-label ">Grade</label>
                <input type="text" id="txtgrade" class="form-control" placeholder="Grade" disabled />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="resigndt" class="col-form-label ">Resignation Date</label>
                <input type="text" id="txtresigndt" class="form-control" placeholder="Resignation Date" disabled />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group ">
                <label asp-for="final_relieve_dt" class="col-form-label ">Last Working Date</label>
                <input type="text" id="txtfinal_relievedt" class="form-control ip-ap" placeholder="Last Working Date" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="chk_isGratuity">
                    <label class="custom-control-label" for="chk_isGratuity">Is Gratuity</label>
                </div>
            </div>
        </div>

        @*<div class="col-md-2">
                <div class="form-group ">
                    <label asp-for="pf_no" class="col-form-label ">PF No.</label>
                    <input type="text" id="txtpfno" class="form-control" placeholder="PF No." disabled />
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group ">
                    <label asp-for="pan_no" class="col-form-label ">PAN No.</label>
                    <input type="text" id="txtpan_no" class="form-control" placeholder="PAN No." disabled />
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group ">
                    <label asp-for="esic_no" class="col-form-label ">ESIC No.</label>
                    <input type="text" id="txt_esicno" class="form-control" placeholder="ESIC No." disabled />
                </div>
            </div>*@
    </div>
</div>

