<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HRMS - @ViewData["Title"]</title>

    <environment names="Development">
        <link href="~/css/font-awesome.min.css" rel="stylesheet" />
        <!--calendar css-->
        <link href="~/assets/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet" />
        @*<script src="~/js/popup.js"></script>*@
        <link href="~/flatpickers/flatpickr.min.css" rel="stylesheet" />


        <!-- DataTables -->
        <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        @*<link href="~/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@

        <!-- Select2 css -->
        <link href="~/assets/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
        <!--Morris Chart CSS -->
        <link href="~/assets/plugins/morris/morris.css" rel="stylesheet">
        <link href="~/assets/plugins/metro/MetroJs.min.css" rel="stylesheet">

        <!-- App css -->
        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
        
    </environment>
    <script>
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return null;
        }
        if (this.getCookie("userId") == null) {
            window.location = '/Login';
        }        
    </script>
    

    <style>

        a.list-group-href.active {
            color: #44a2d2;
        }



        a {
            text-decoration: none !important;
            color: black;
        }

        .marqueenotification {
            height: 200;
        }

        /*.testt {
            padding-left: 0.5cm;
            position: absolute;
            visibility: visible;
            left: 20px;
            top: 300px;
            z-index: 200;
        }*/

    </style>



</head>

<body>
    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a id="hrms_logo_link">
                @*<img src="~/Login Page Logos/company logo.png" width="185" height="37" alt="Travolook" title="Travolook" />*@
                @*<img src="~/Login Page Logos/company logo.png" width="185" height="50" alt="Travolook" title="Travolook" />*@
                DB
            </a>
        </div>

        <!-- Navbar -->
        <nav class="navbar-custom">

            <!-- Search input -->
            <ul class="list-unstyled topbar-nav float-right mb-0 align-middle">
                <li onclick="startstopWorker()">
                    <a class="nav-link waves-effect waves-light" href="javascript:void(0);">
                        <i class="mdi mdi-reload nav-icon"> </i> <span class="hidden-sm font-18" id="lblDataStatus"> Reload </span>
                    </a>
                </li>
                <li>
                    <a class="nav-link waves-effect waves-light" href="javascript:void(0);" id="">
                        <i class="mdi mdi-notification-clear-all nav-icon"> </i> <span class="hidden-sm font-18"> Notification </span>
                    </a>
                </li>


                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" id="dropdownMenuButtonApplication" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <i class="mdi mdi-settings nav-icon"> </i><span class="hidden-sm font-18"> Application </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonApplication">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" id="userpop" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img id="profile_icon" src="~/assets/images/users/user-1.jpg" alt="profile-user" class="rounded-circle" />
                        <span class="ml-1 nav-user-name hidden-sm font-18"> <span id="login_emp_name"> Prabhakar </span> <i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" id="ul_right_menu">
                        <a class="dropdown-item" href="#">Change Password</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>

            <ul class="list-unstyled topbar-nav mb-0">
                <li>
                    <button class="button-menu-mobile nav-link waves-effect waves-light">
                        <i class="mdi mdi-menu nav-icon"></i>
                    </button>
                </li>

            </ul>

        </nav>

        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->



    <div class="page-wrapper ">
        <!-- Left Sidenav -->

        <div class="left-sidenav">
            <ul class="metismenu left-sidenav-menu" id="side-nav"></ul>
        </div>



        <!-- end left-sidenav-->
        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">


                <!-- end page title end breadcrumb -->

                <div class="row mt-3">
                    @*<div>@Html.Partial("_GuIDPartial")</div>*@
                    @RenderBody()
                </div>  <!-- container -->
                <div class="row mt-5">
                    <div class="col-xl-12 mt-2">
                        <footer class="footer text-center text-sm-left  mt-3">
                            &copy; Design & Developed for <a href="#" target="_blank" style="color: #18BC9C !important;">Travolook.</a>
                        </footer>
                    </div>

                </div>

            </div>
            <!-- end page content -->
        </div>

        <div class="clear"></div>



        @*<partial name="_CookieConsentPartial" />*@
        <div class="clear"></div>

        <div class="clear"></div>
        <!---Messege box icon div--->
        <div class="message-pop" data-toggel="" style="display:none;">
            <div class="center-tag-mesage">
                <div class="header">
                    <i class="fa fa-times"></i>
                    <div class="col-md-2">
                        <span class="fa messageIcon"></span>
                    </div>
                    <div class="col-md-10"><p class="text"></p></div>
                    <div class="clear"></div>
                </div><!-- header end -->
            </div>
        </div>
        <!--  -->
        <div id="loader" class="loader-wrapper">
            <div class="loader-container">
                <i class="fa fa-spinner "></i>
            </div>

        </div>



    </div>









    <!--Plugins-->
    <script src="~/assets/js/jquery.min.js"></script>

    <!----date picker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/calender/JqCalender/jquery-ui.js"></script>
    <!--end here-->
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>
    <script src="~/assets/plugins/morris/morris.min.js"></script>

    <script src="~/js/selectBox.js"></script>
    <script src="~/assets/pages/jquery.dashboard.init.js"></script>


    <link href="~/datetimepickers/css/anypicker-font.css" rel="stylesheet" />
    <link href="~/datetimepickers/css/anypicker.css" rel="stylesheet" />
    <script src="~/datetimepickers/js/jquery-1.11.1.min.js"></script>
    <!--Jquery Validation-->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script src="~/datetimepickers/js/anypicker.js"></script>
    <!---Added for message box---->
    <script src="~/js/msgbox/jquery.msgBox.js"></script>
    <script src="~/flatpickers/flatpickr.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/waves.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>


    <!-- App js -->
    <!-- Select2 js -->
    <script src="~/assets/plugins/select2/select2.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/moment/moment.js"></script>
    <script src='~/assets/plugins/fullcalendar/js/fullcalendar.min.js'></script>
    <script src='~/assets/pages/jquery.calendar.js'></script>


    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples For Datatable buttons-->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/js/popup.js"></script>
    <script src="~/js/aes.js"></script>
    <script src="~/assets/js/app.js"></script>
    <!-- Set Data in Db -->
    <script src="~/apiJS/customeWorker.js" asp-append-version="true"></script>
    <script src="~/apiJS/GetDbData.js" asp-append-version="true"></script>
    <script src="~/Comman/JS/BindMenus.js" asp-append-version="true"></script>

    <script>
        $(function () {
            if (typeof (Storage) !== "undefined") {
                $('ul.leftMenu li').removeClass('active');
                var getClas = localStorage.getItem("class");
                $('.' + getClas).parent('li').addClass('active');
            }
        });

        $('.mobile-view-icon ').on('click', function (e) {
            e.preventDefault();
            console.log('clik event');
            $('header ul.headNav').animate({ width: 'toggle' }, 1050);
        });

        $('ul.leftMenu li a').on('click', function (e) {
            var classTag = $(this).attr('class');
            if (typeof (Storage) !== "undefined") {
                localStorage.setItem("class", classTag);

            } else {
                localStorage.setItem("class", "link1");
            }

        });

        $('.left-nav-mobile-icon').on('click', function (e) {
            e.preventDefault();
            $('.root .left').animate({ width: 'toggle' }, 1050);
        });


        // report poup click event
        var getPupup = $('.reportPopUP');
        var ButtonClose = $('button.reportPoupClose');   // get close button click


        $(ButtonClose).on('click', function (e) {
            e.preventDefault();
            getPupup.hide();
        });

    </script>
    <script type="text/javascript">
        $('#notEnavle').on('click', function (e) {
            e.preventDefault();
            $('.notificationPanel').toggle();
        });
        $('.root ').on('click', function () { $('.notificationPanel , .userLoginPanel').hide(); });
        $('#userpop').on('click', function (e) {
            e.preventDefault();
            $('.userLoginPanel').toggle();
        });
        $(".select2").select2();

        $(".ip-ap").flatpickr({
            dateFormat: "d-M-Y",
        });


        $(".ip-ap-leave-setting").flatpickr({
            dateFormat: "d-M-Y",

        });
        $(".ip-ap_2").flatpickr({
            dateFormat: "d-M-Y",
            maxDate: "today"
        });
        $(".AnyTimePicker").flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
        });

        $(".iphr").flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true,
        });
        function onMonthOrYearChange(dObj, dStr, fp) {
            fp.setDate(new Date(fp.currentYear, fp.currentMonth));
        }
        // uncomment underneath code to use flatpickr calender for report monthly report select month but remember to remove
        //the datepicker code in jsreport.js if you enable this flatpickr calender
        $(".monthly").flatpickr(
            {
                dateFormat: "Y-m",
                //"enable": [
                //        function (date) {
                //         return true to disable
                //            return (date.getDate() < 2);
                //        }
                //],
                //enable: ["2025-03-30", "2025-05-21", "2025-06-08", new Date(2025, 8, 9)],
                onYearChange: onMonthOrYearChange,
                onMonthChange: onMonthOrYearChange
            });


        $(".only_month_year").flatpickr(
            {
                dateFormat: "Ym",

                onYearChange: onMonthOrYearChange,
                onMonthChange: onMonthOrYearChange
            });
        $(".date_and_time").flatpickr({
            enableTime: true,
            dateFormat: "d-M-Y H:i",
            maxDate: "today"
        });
        $(".date_for_outdoor").flatpickr({
            dateFormat: "d-M-Y",
            maxDate: new Date().fp_incr(60),
            minDate: new Date().fp_incr(-45)
        });

                                                    //$('ul.leftMenu li a.subMenu').on('click', function (e) {
                                                    //    debugger;
                                                    //    e.preventDefault();
                                                    //    let check = $(this).next('ul');
                                                    //    let icons = check.next('span.fa');
                                                    //    if (check.hasClass('hasSubmenu')) {
                                                    //        if (check.is(':visible')) {
                                                    //            check.slideUp();
                                                    //            icons.removeClass('fa-angle-up').addClass('fa-angle-down');
                                                    //        }
                                                    //        else {
                                                    //            check.slideDown();
                                                    //            icons.removeClass('fa-angle-down').addClass('fa-angle-up');
                                                    //        }
                                                    //    }

                                                    //});



    </script>
    @*<script type="text/javascript">
            var key = CryptoJS.enc.Base64.parse("#base64Key#");
            var iv = CryptoJS.enc.Base64.parse("#base64IV#");

            var user_name_dec = CryptoJS.AES.decrypt(localStorage.getItem("user_name"), key, { iv: iv }).toString(CryptoJS.enc.Utf8);
            var login_emp_name_dec = CryptoJS.AES.decrypt(localStorage.getItem("login_emp_name"), key, { iv: iv }).toString(CryptoJS.enc.Utf8);


            //var user_name = localStorage.getItem('user_name'); // get user id
            //var login_emp_namee = localStorage.getItem('login_emp_name');
            $('#user_name').text(user_name_dec);
            $("#login_emp_name").text(login_emp_name_dec);
            var profile_img_path = CryptoJS.AES.decrypt(localStorage.getItem("employee_photo_path"), key, { iv: iv }).toString(CryptoJS.enc.Utf8); //localStorage.getItem('employee_photo_path');


            if (profile_img_path == '' || profile_img_path == null) {
                $('#profile_img').attr("src", '/img/no-profile-photo.jpg');
                $('#profile_icon').attr("src", '/img/no-profile-photo.jpg');
            }
            else {
                $('#profile_img').attr("src", profile_img_path.replace("api/", ""));
                $('#profile_icon').attr("src", profile_img_path.replace("api/", ""));
            }
        </script>*@
    <!-- Custom jquery -->
    @*<script src="~/apiJS/GlobalEnum.js"></script>
        <script src="~/Comman/JS/BindMenus.js?ver=@DateTime.Now.Ticks.ToString()"></script>
        <script src="~/Comman/JS/CommanJS.js?ver=@DateTime.Now.Ticks.ToString()"></script>*@
    <script src="~/src/jquery.table2excel.js"></script>
    @*<script src="~/Comman/JS/JsLayout.js?ver=@DateTime.Now.Ticks.ToString()"></script>*@
    @RenderSection("Scripts", required: false)


</body>
</html>
