<div class="card">
    
</div>


    <div class="panel">
        <div class="card">
            <nav class="payroll-nav is-hoverable shadow-sm bg-white rounded ">
                <ul class="metismenu " id="menu2">
                    <li>
                        <a href="#" class="has-arrow"><i class="fa fa-user-tie"></i> <span id="hdrOrganisation">Organisation</span></a>
                        <ul id="hdrUlOrganisation">
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-arrow"><i class="fa fa-user-tie"></i> <span id="hdrCompany"> Company</span></a>
                        <ul id="hdrUlCompany">
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-arrow"><i class="fa fa-user-tie"></i> <span id="hdrZone">Zone</span></a>
                        <ul id="hdrUlZone">
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="has-arrow"><i class="fa fa-user-tie"></i> <span id="hdrLocation">Location</span></a>
                        <ul id="hdrUlLocation">
                        </ul>
                    </li>

                </ul>
            </nav>

        </div>
    </div>


