@*<nav class="payroll-nav bg-purple shadow-sm bg-white rounded ">





        <ul class="metismenu " id="menu2">

            <li><a href="CreateUser">Create New Employee</a></li>
            <li><a href="OfficaialSection">Official Section</a></li>
            <li><a href="ShiftAllocation">Shift Allocation</a></li>
            <li><a href="WeekOff">Week Off</a></li>
            <li><a href="GradeAllocation">Grade Allocation</a></li>
            <li><a href="DesignationAllocation">Designation Allocation</a></li>
            <li><a href="ManagerAllocation">Manager Allocation</a></li>
            <li><a href="PersonalDetails">Personal Details</a></li>
            <li><a href="QualificationSection">Qualification Section</a></li>
            <li><a href="FamilySection">Family Section</a></li>
            <li><a href="HealthCard">Health Card</a></li>
            <li><a href="MaintainDocuments">Maintain Documents</a></li>
            <li><a href="EmployeementTypeMaster">Employment Type</a></li>

        </ul>
    </nav>*@




<style>
    #ddlemp_chosen {
        width: 100% !important;
    }
</style>





<div class="card">
    <nav class="payroll-nav is-hoverable shadow-sm bg-white rounded ">
        <ul class="metismenu " id="menu2">

            <li>
                <a href="#" class="has-arrow"><i class="fa fa-user-tie"></i> Service Provider</a>
                <ul>
                    <li> <a href="/Air/serviceprovider">Manage Service Provider</a> </li>
                    <li><a href="/Air/addserviceprovider">Add Service Provider</a></li>

                </ul>
            </li>
            <li>
                <a href="#" class="has-arrow"><i class="fa fa-user-tie"></i> Instant Booking</a>
                <ul>
                    <li> <a href="/Air/instantbookingsettings">Manage Instant Booking</a> </li>
                    <li><a href="/Air/addinstantbookingsetting">Add Instant Booking</a></li>

                </ul>
            </li>
            <li>
                <a href="#" class="has-arrow"><i class="fa fa-user-tie"></i> Wing Settings</a>
                <ul>
                    <li> <a href="/Air/wingmarkup">Wing Markup</a> </li>
                    <li><a href="/Air/wingdiscount">Wing Discount</a></li>
                    <li><a href="/Air/wingconvenience">Wing Convenience</a></li>

                </ul>
            </li>
        </ul>
    </nav>

</div>

<div class="clearfix"></div>