

<div class="card mt-0 pt-0" style="width: 100%;"> 
    <nav class="payroll-nav is-hoverable shadow-sm bg-white">
        <div class="rounded">
            <ul class="metismenu" id="menu2">
                <li>
                    <a href="~/View/Dashboard"><i class="fas fa-chart-pie"></i> Dashboard </a>
                </li>
                <li>
                    <a href="#" class="has-arrow"><i class="fa fa-wrench"></i> Application</a>
                    <ul>
                        <li>
                            <a href="#" class="has-arrow">Outdoor</a>
                            <ul>
                                <li><a href="~/Leave/OutdoorLeaveApproval"> Approval </a></li>
                                <li><a href="~/View/OutdoorApplicationReport"> Report </a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="has-arrow">Leave</a>
                            <ul>
                                <li><a href="~/Leave/LeaveApproval"> Approval </a></li>
                                <li><a href="~/View/LeaveApplicationReport"> Report </a></li>
                            </ul>
                        </li>
                        <li class="hrhassub">
                            <a href="#" class="has-arrow">Attendance</a>
                            <ul>
                                <li><a href="~/Leave/AttandenceApproval"> Approval </a></li>
                                <li><a href="~/View/AttendenceApplicationReport"> Report </a></li>
                            </ul>
                        </li>
                        <li class="hrhassub">
                            <a href="#" class="has-arrow">CompOff</a>
                            <ul>
                                <li><a href="~/view/CompoffRaisedApproval">Approve Raise Request</a></li>
                                <li><a href="~/View/CompoffRaiseReport">Raise Request Report</a></li>
                                <li><a href="~/Leave/CompOffLeaveApproval"> Approval </a></li>
                                <li><a href="~/View/CompOffApplicationReport"> Report </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="~/Payroll/LoanRequestApproval"><i class="fas fa-chart-pie"></i> Loan Approval</a>
                </li>
                @*<li>
            <a href="~/Payroll/AssetRequestApproval"><i class="fas fa-chart-pie"></i> Asset Approval</a>
        </li>*@

                <li>
                    <a href="#" class="has-arrow"><i class="fas fa-chart-pie"></i> &nbsp;Assets</a>
                    <ul>

                        <li><a href="~/Payroll/AssetRequestApproval"> Approval </a></li>
                        <li><a href="/Payroll/AssetReport"> Report </a></li>

                    </ul>
                </li>

                <li>
                    <a href="#" class="has-arrow"><i class="fas fa-chart-pie"></i> &nbsp;E-Sepration</a>
                    <ul>

                        <li><a href="~/View/EmpSeprationApproval"> Approval </a></li>
                        <li><a href="/View/ESeprationApprovalReport"> Report </a></li>

                    </ul>
                </li>



                <li>
                    <a href="#" class="has-arrow"><i class="fa fa-user text-muted mr-2"></i> EPA Masters</a>
                    <ul>
                        <li>
                            <a href="/ePA/KpiKeyAreaMaster">KPI Key Area Master</a>
                        </li>

                        <li>
                            <a href="/ePA/KRACreationMaster">KRA Creations Master</a>
                        </li>

                        <li>
                            <a href="/ePA/QuestionMaster">Questions Master</a>
                        </li>

                        <li>
                            <a href="/View/TabDetails">Tab Details</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </div>
    </nav>
</div>

<div class="clearfix"></div>
