
<style>
    #ddlemp_chosen {
        width: 100% !important;
    }
</style>


<div class="card mt-0 pt-0" style="width: 100%;">
    <nav class="payroll-nav is-hoverable shadow-sm bg-white  ">
        <div class="rounded">
            <ul class="metismenu " id="menu2">
                <li>
                    <a href="/view/Dashboard"><i class="fas fa-chart-pie"></i> &nbsp; Dashboard </a>
                </li>
                <li>
                    <a href="#" class="has-arrow"><i class="fa fa-wrench"></i> Application</a>
                    <ul>
                        <li>
                            <a href="#" class="has-arrow">Outdoor</a>
                            <ul>
                                <li><a href="/view/OutdoorApplication"> Request </a></li>
                                <li><a href="/view/OutdoorApplicationReport"> Report </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-arrow">Leave </a>
                            <ul>
                                <li><a href="/view/LeaveApplication"> Request </a></li>
                                <li><a href="/view/LeaveApplicationReport"> Report </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-arrow">Attendance </a>
                            <ul>
                                <li><a href="/view/AttendenceApplication"> Request </a></li>
                                <li><a href="/view/AttendenceApplicationReport"> Report </a></li>
                            </ul>
                        </li>
                        <li class="hrhassub">
                            <a href="#" class="has-arrow">CompOff</a>
                            <ul>
                                <li><a href="compoffdetails">Raise Request</a></li>
                                <li><a href="CompoffRaiseReport">Raise Request Report</a></li>
                                <li><a href="CompOffApplication"> Request </a></li>
                                <li><a href="CompOffApplicationReport"> Report </a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/view/SalarySlips" class="hractive"><i class="fas fa-chart-pie"></i> &nbsp; Salary Slips </a>
                </li>
                <li>
                    <a href="/view/LeaveBalance" class="hractive"><i class="fas fa-chart-pie"></i> &nbsp; Leave Balance </a>
                </li>
                <li>
                    <a href="/view/LoanRequest" class="hractive"><i class="fas fa-chart-pie"></i> &nbsp; Loan Request</a>
                </li>
                <li>
                    <a href="#" class="has-arrow"><i class="fas fa-chart-pie"></i> &nbsp;Assets</a>
                    <ul>

                        <li><a href="/view/AssetRequest"> Request </a></li>
                        <li><a href="/View/EmpReqAssetReport"> Report </a></li>

                    </ul>

                    @*<a href="/view/AssetRequest" class="hractive"><i class="fas fa-chart-pie"></i> &nbsp; Asset Request</a>*@
                </li>

                <li>
                    <a href="#" class="has-arrow"><i class="fas fa-chart-pie"></i> &nbsp;e-Sepration</a>
                    <ul>

                        <li><a href="/view/EmpSepration"> Request </a></li>
                        <li><a href="/View/EmpSeprationDetail"> Report </a></li>

                    </ul>
                </li>

                @*<li>
            <a href="/epa/EpaSubmissionForm" class="hractive"><i class="fa fa-user text-muted mr-2"></i>EPA</a>
        </li>*@
                <li>
                    <a href="#" class="has-arrow"><i class="fa fa-user text-muted mr-2"></i> EPA</a>
                    <ul>
                        <li>
                            <a href="/epa/EpaSubmissionForm" class="hractive"> Submission Form</a>
                        </li>

                        <li>
                            <a href="/View/EPAGraphChart" class="hractive"> Graph Chart </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

  
</div>

