
<style>
    #ddlemp_chosen {
        width: 100% !important;
    }
</style>





<div class="card">
    <nav class="payroll-nav is-hoverable shadow-sm bg-white rounded ">
        <ul class="metismenu " id="menu2">
            <li>
                <a href="#" class="has-arrow"><i class="fa fa-user-tie"></i> Sections</a>
                <ul>
                    <li> <a href="/EmployeeProfile/OfficialSection">Official</a> </li>
                    <li><a href="/EmployeeProfile/QualificationSection">Qualification</a></li>
                    <li><a href="/EmployeeProfile/FamilySection">Family</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="has-arrow"><i class="fa fa-users-cog"></i> Allocations</a>
                <ul>
                    <li><a href="/EmployeeProfile/ShiftAllocation">Shift</a></li>
                    <li><a href="/EmployeeProfile/WeekOff">Week Off</a></li>
                    <li><a href="/EmployeeProfile/GradeAllocation">Grade Allocation</a></li>
                    <li><a href="/EmployeeProfile/DesignationAllocation">Designation</a></li>
                    <li><a href="/EmployeeProfile/ManagerAllocation">Manager</a></li>
                </ul>
            </li>
            <li>
                <a href="/EmployeeProfile/PersonalDetails"><i class="fa fa-user-check"></i> Personal Details </a>
            </li>
            <li>
                <a href="/EmployeeProfile/HealthCard"><i class="fa fa-user-md"></i> Health Card </a>
            </li>

            <li>
                <a href="/EmployeeProfile/MaintainDocuments"><i class="fa fa-folder-open"></i> Maintain Documents </a>
            </li>


            <li>
                <a href="/EmployeeProfile/WorkingRoleAllocation"><i class="fa fa-users-cog"></i> Working Role</a>
            </li>
            <li>
                <a href=""><i class="far fa-id-card"></i> Statutory</a>
                <ul>
                    <li> <a href="/EmployeeProfile/UANDetails">PF, Esic</a> </li>
                    <li><a href="/EmployeeProfile/AccountDetails">Account Details</a></li>

                </ul>
            </li>

        </ul>
    </nav>

</div>

<div class="clearfix"></div>