@page
@{
    ViewData["PageId"] = "200112";
    ViewData["Title"] = "Airline";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    <div class="col-xl-12">
        <div class="panel">
            <div class="card">
                <div class="card-body p-2">
                    <form id="frmOrganisation" method="post" action="">                        
                        <div class="form-container master-panel">
                            <div class="col-md-12">
                                <h4> @ViewBag.Title </h4>
                                <hr />
                            </div>
                            <input type="hidden" id="lblairlineId" name="lblairlineId" value="0" />
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3" for="txtCode">Code</label>
                                        <div class="col-md-9">
                                            <input type="text" id="txtCode" name="txtCode"
                                                   maxlength="16" autocomplete="off"
                                                   class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3" for="txtName">Name</label>
                                        <div class="col-md-9">
                                            <input type="text" id="txtName" name="txtName"
                                                   maxlength="256" autocomplete="off"
                                                   class="form-control" required>
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3">Is LCC</label>
                                        <div class="col-md-8">
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_active_lcc" type="radio" value="true" name="chklcc">
                                                    <label class="custom-control-label" for="is_active_lcc">  Yes</label>
                                                </div>
                                            </div>
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_in_active_lcc" type="radio" value="false" name="chklcc">
                                                    <label class="custom-control-label" for="is_in_active_lcc">  No</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-md-3">Status</label>
                                        <div class="col-md-8">
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_active" type="radio" value="true" name="chkstatus">
                                                    <label class="custom-control-label" for="is_active">  Active</label>
                                                </div>
                                            </div>
                                            <div class="form-check-inline my-1">
                                                <div class="custom-control custom-radio">
                                                    <input class="custom-control-input" id="is_in_active" type="radio" value="false" name="chkstatus">
                                                    <label class="custom-control-label" for="is_in_active">  Inactive</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-2">

                                <div class="col-md-6">
                                    <div class="col-md-2">
                                        <img id="imgairlineImage" class="mt-sm-4" src="~/images/dbImages50.png" width="50" />
                                        <input type="hidden" id="lblImgFile">
                                        <input type="hidden" id="lblImgName">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label asp-for="airline_image" class="col-form-label">Airline Photo</label>
                                            <input id="File1" type="file" accept="image/x-icon" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <input type="submit" class="btn btn-primary btn-lg" value="Save">
                                        <input type="reset" id="clearform" class="btn btn-primary btn-lg" value="Reset">
                                        <a href="AirlineReport" class="btn btn-primary btn-lg">Report</a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <hr />
                                </div>
                                <div class="clearfix"></div>

                            </div>
</form>
                    
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    
    <script type="text/javascript">

        

        $(document).ready(function () {

            $('#loader').show();
            let OrgId = localStorage.getItem("currentOrganisation");
            let token = localStorage.getItem('token');
            let headerss = new Headers();
            headerss.append("Authorization", 'Bearer ' + token);
            headerss.append("Content-Type", "application/json; charset=utf-8");
            headerss.append("OrgId", OrgId);
            let airline_ = getUrlVars()["id"];
            const inputElement = document.getElementById("File1");
            inputElement.addEventListener("change", handleFiles, false);

            if (airline_ == null || airline_ == '' || airline_ == undefined) {
                $("#lblairlineId").val("0");
                $('#loader').hide();
            } else {
                let apiurl = localStorage.getItem('baseUrl') + "Air/Master/getAirlineCode/" + airline_ ;
                fetch(apiurl, {
                    method: "GET",
                    headers: headerss,
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error(response.statusText);
                    }
                }).then(data => {
                    if (data.messageType == 1) {
                        console.log(data.returnId);
                        $("#lblairlineId").val(data.returnId.id);
                        $("#txtCode").val(data.returnId.code);
                        $("#txtName").val(data.returnId.name);
                        $("#lblImgFile").val(data.returnId.airlineImage);
                        if (!(data.returnId.airlineImage == null || data.returnId.airlineImage == '' || data.returnId.airlineImage=== undefined)) {
                            var img = document.getElementById("imgairlineImage");
                            img.src = `data:${data.returnId.airlineImageType};base64,${data.returnId.airlineImage}`;
                        }

                        if (data.returnId.isActive) {

                            $("#is_active").prop("checked", true);
                            $("#is_in_active").prop("checked", false);
                        }
                        else {
                            $("#is_active").prop("checked", false);
                            $("#is_in_active").prop("checked", true);
                        }

                        if (data.returnId.islcc) {

                            $("#is_active_lcc").prop("checked", true);
                            $("#is_in_active_lcc").prop("checked", false);
                        }
                        else {
                            $("#is_active_lcc").prop("checked", false);
                            $("#is_in_active_lcc").prop("checked", true);
                        }


                        $('#loader').hide();
                    }
                    else {
                        $('#loader').hide();
                        messageBox("error", data.message);
                    }
                }).catch((error) => {
                    $('#loader').hide();
                    messageBox("error", error.message);
                });

            }


            function handleFiles() {
                const fileList = this.files;
                for (let i = 0, numFiles = fileList.length; i < numFiles; i++) {
                    const file = fileList[i];
                    var imgsizee = this.files[i].size;
                    var sizekb = imgsizee / 1024;
                    sizekb = sizekb.toFixed(0);
                    if (sizekb < 10 || sizekb > 500) {
                        $("#File1").val("");
                        messageBox("error", 'The size of the airline should fall between 10KB to 500KB. Your Photo Size is ' + sizekb + 'kb.');
                        return false;
                    }
                    if (!(file.type == 'image/x-icon')) {
                        messageBox("error", 'Only Icon file can be uploaded');
                        return false;
                    }
                    selectedFile = file;
                    var img = document.getElementById("imgairlineImage");
                    img.file = file;
                    const reader = new FileReader();
                    reader.onload = (function (aImg) { return function (e) { aImg.src = e.target.result; }; })(img);
                    reader.readAsDataURL(file);
                }
            }
            
            
            $("#frmOrganisation").validate({
                onkeyup: false,
                //rules: {
                //    txtCode: {
                //        remote: {
                //            url: localStorage.getItem('baseUrl') + "air/Master/CheckAirFareCode",
                //            method: "get",
                //            headers: { "Authorization": 'Bearer ' + token },
                //            data: {
                //                BookingClassId: function () { return $("#lblBookingClassId").val() },
                //                OrgId: function () { return OrgId }
                //            },
                //            error: function (xhr, textStatus, errorThrown) {
                //                messageBox("error", 'ajax loading error... ... ' + textStatus);
                //                return false;
                //            }
                //        }
                //    },
                //},
                //messages: {
                //    txtCode: {
                //        required: "Required",
                //        email: "Enter valid code",
                //        remote: "code already in use. Please use other code"
                //    },
                //},
                submitHandler: function (form, event) {
                    event.preventDefault();
                    $('#loader').show();                    
                    let Postapiurl = localStorage.getItem('baseUrl') + "air/Master/setAirline"
                    let Postheaderss = new Headers();
                    Postheaderss.append("Authorization", 'Bearer ' + token);
                    Postheaderss.append("OrgId", OrgId);
                    Postheaderss.append("Content-Type", "application/json; charset=utf-8");

                    let IsActive
                    if ($("#is_active").is(":checked")) {
                        IsActive=true;
                    }
                    else {
                        IsActive =false;
                    }

                    let IsLcc
                    if ($("#is_active_lcc").is(":checked")) {
                        IsLcc = true;
                    }
                    else {
                        IsLcc = false;
                    }

                    var formdata = JSON.stringify({
                        "Id": $("#lblAirlineId").val(),
                        "Code": $("#txtCode").val(),
                        "Name": $("#txtName").val(),
                        "ImagePath": $("#lblImgFile").val(),
                        "IsActive": IsActive,
                        "IsLcc": IsLcc,

                    });
                    fetch(Postapiurl, {
                        method: "POST",
                        headers: Postheaderss,
                        body: formdata,                        
                        redirect: 'follow'
                        
                    }).then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error(response.statusText);
                        }
                    }).then(data => {

                        if (data.messageType == 1) {                            
                            $('#loader').hide();
                            messageBox("success", "Save successfully");
                            
                        }
                        else {
                            $('#loader').hide();
                            messageBox("error", data.message);
                        }
                    }).catch((error) => {
                        $('#loader').hide();
                        messageBox("error", error.message);
                    });
                    
                }
            });
            $('#clearform').on('click', function () {
                var form = $("#frmOrganisation");
                form.validate().resetForm();  // clear out the validation errors
                form[0].reset();                  // clear out the form data
            });

        });

    </script>
}
        

