@page
@{
    ViewData["Title"] = "Asset Request";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    table th {
        min-width: 82px;
    }
       
    input[type="checkbox"][readonly] {
        pointer-events: none;
    }

  
</style>


<div class="col-xl-12">
    <div class="panel ">
     
        <div class="card mt-3">
            <div class="card-body">

                <div class="form-container  not-res">
                    <div class="col-md-12">
                        <h4>Asset Request</h4><hr />
                    </div>
                    <div class="col-md-12">

                        <div class="col-md-6 form-group">
                            <div class="col-md-4"><label class="col-form-label">Company<i>*</i></label></div>
                            <div class="col-md-6">
                                <select id="ddlcompany" class="form-control"><option value="0">--Please Select--</option></select>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="col-md-4"><label class="col-form-label">Employee</label></div>
                            <div class="col-md-6">
                                <select id="ddlemployee" class="form-control"><option value="0">--Please Select--</option></select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 mt-4">
                        <hr />
                        <div class="tab btn-group btn-block">
                            <button class="tablinks  btn btn-primary text-light  col-6 " onclick="openCity(event, 'tab1empasset_req')" id="tabb1_btn"> Employee Asset Request</button>
                            <button id="tab2_btn" class="tablinks btn btn-outline-light col-6" onclick="openCity(event, 'tab2empassetdtl')"> Employee Asset Detail</button>

                        </div>
                    </div>

                    <div class="col-md-12 mt-4">
                        <div id="tab1empasset_req" class="tabcontent" style="display: block;">
                            <div class="slider-wrap">
                                <div id="asset_req_div">
                                    <div class="col-md-12">
                                        <div class="table-responsive no-margin">
                                            <table id="tblassetrqt"class="table w-100"></table>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr />
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <div class="col-md-4"><label class="col-form-label">Remarks<i>*</i></label></div>
                                        <div class="col-md-6">
                                            <textarea id="txtremarks" name="txtreamrks" placeholder="Remarks" autocomplete="off" style="width:800px" class="form-control bg-ligth" onkeypress="return AlphaNumeric(event);"></textarea>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group text-center">
                                            <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                                            <button type="button" id="btnreset" class="btn btn-primary btn-lg">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- first tab end -->

                        <div id="tab2empassetdtl" class="tabcontent" style="display: none;">

                            <div class="slider-wrap">
                                <div class="slider" id="slider2">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="col-md-6"><label class="col-form-label">From Date</label></div>
                                            <div class="col-md-6">
                                                <input type="text" class="ip-ap form-control" autocomplete="off" id="txtFromDate" />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="col-md-6"><label class="col-form-label">To Date</label></div>
                                            <div class="col-md-6">
                                                <input type="text" class="ip-ap form-control" autocomplete="off" id="txtToDate" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-6"><label class="col-form-label"></label></div>
                                            <div class="col-md-6">
                                                <input type="button" id="btnget_detail" class="btn-primary" style="height:40px" value="Get Detail" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive no-margin">
                                            <table id="tbl_emp_asset_dtl" class="table w-100"></table>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="slider-wrap" style="width: auto; height: auto;">
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>



@*<script src="~/apiJS/View/JsAssetRequest.js"></script>*@
<script src="~/apiJS/Admin/JsAssetRequest.js?ver=@DateTime.Now.Ticks.ToString()"></script>


<!-- Trigger/Open The Modal -->
<style>

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 10px;
        border: 1px solid #888;
        width: 30%;
    }
    /*.acceptrejectdiv {
                        width: 88%;
                    }*/

</style>
<!-- The Modal -->
<div id="myAssetModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" style="width:626px;height:320px">
        <div class="panel ">
            <h1>Invalid Details</h1>
            <hr />
            <div class="table-responsive no-margin">
                <table id="tblassetdtl" class="table nowrap w-100"></table>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>


<script>

    var modal = document.getElementById("myAssetModal");
    window.onclick = function (event) {
        if (event.target == modal) {

            modal.style.display = "none";
        }
    }
</script>
