@page
@{
    ViewData["Title"] = "CompanyAccount";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="col-xl-12">
    <div class="panel ">

        <div class="card mt-3">
            <div class="card-body">

                <div class="form-container master-panel">
                    <div class="col-md-12">
                        <h4>Company Account</h4><hr />
                    </div>

                    <div class="col-md-6 form-group">
                        <div class="col-md-4"><label class="col-form-label">Bank<i>*</i></label></div>
                        <div class="col-md-6">
                            <select id="bank" class="form-control">
                                <option value="0">--Please Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <div class="col-md-4"><label class="col-form-label">Branch<i>*</i></label></div>
                        <div class="col-md-6">
                            <select id="branch" class="form-control">
                                <option value="0">--Please Select--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <div class="col-md-4"><label class="col-form-label">Company Account No.<i>*</i></label></div>
                        <div class="col-md-6">
                            <input type="text" id="companyaccno" maxlength="8" class="form-control" placeholder="Company account no." />
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <div class="col-md-4"><label class="col-form-label">Opening Date<i>*</i></label></div>
                        <div class="col-md-6">
                            <input type="text" id="openingdate" maxlength="10" placeholder="Opening Date" class="form-control" onkeydown="return false;" />
                        </div>
                    </div>


                   

                    <div class="col-md-6 form-group" id="checkbtn">
                        <div class="col-md-4"><label class="col-form-label">Status<i>*</i></label></div>
                        <div class="col-md-6">
                            <div class="form-check-inline my-1">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="is_active" type="radio" value="1" name="chkstatus">
                                    <label class="custom-control-label" for="is_active">  Active</label>
                                </div>
                            </div>
                            <div class="form-check-inline my-1">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" id="is_in_active" type="radio" value="0" name="chkstatus">
                                    <label class="custom-control-label" for="is_in_active">  Inactive</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 mt-2">
                        <div class="form-group text-center">
                            <div class=" btn-group">
                                <button type="button" class="btn btn-primary btn-lg" id="btnsave">Save</button>
                                <button type="button" class="btn btn-primary btn-lg" id="btnupdate">Update</button>
                                <button type="button" id="btnreset" class="btn btn-primary btn-lg">Reset</button>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <div class="col-md-12">
                        <h4 class="margin-top">Company Account List</h4><hr />

                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive no-margin">
                            <table id="companyacct" class="table nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Bank</th>
                                        <th>Branch</th>
                                        <th>Company Acc no.</th>
                                        <th>Opening Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>


<input type="hidden" id="hdnid" />
<script src="~/apiJS/Payroll/CompanyAccount.js?ver=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/Comman/JS/CommanJS.js?ver=@DateTime.Now.Ticks.ToString()"></script>
