@page
@{
    ViewData["Title"] = "Payroll";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="tab-link">
    <ul>
        <li class="active"><a href="Payroll">Main</a></li>
        <li><a href="Information">Information</a></li>
        <li><a href="PayrollInput">Payroll Input</a></li>
        <li><a href="Process">Process</a></li>
        <li><a href="Verify">Verify</a></li>
        <li><a href="Payout">Payout</a></li>
        <li><a href="PublishedInfo">Published Info</a></li>
        <li><a href="Overview">Overview</a></li>
    </ul>
</div>

